/*!
Theme Name: Shark Magazine
Theme URI: https://sharkthemes.com/downloads/shark-magazine
Author: Shark Themes
Author URI: https://sharkthemes.com/
Description: Shark Magazine is a modern and trendsetting magazine WordPress theme. Shark Magazine theme has wide list of customizable features including front page customizable sections with customizer api and widgets, wide and boxed layout and many more options. Shark Magazine can quickly be mastered by users of any skill level and It comes with cross-browser compatibility, mobile friendly design and responsive features.
Version: 1.0.6
License: GPLv3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: shark-magazine
Tags: translation-ready, custom-background, theme-options, custom-header, custom-menu, threaded-comments, featured-images, footer-widgets, right-sidebar, full-width-template, two-columns, three-columns, grid-layout, custom-logo, blog, entertainment, news

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Shark Magazine is based on Underscores https://sharkthemes.com/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Preloader
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Layouts and Titles
# Media
	## Captions
	## Galleries
# Social Icons
# Breadcrumb
# Sections
	## Banner Slider
	## Introduction
	## Featured Posts
	## Gallery
	## Featured Categories 
	## Slider Posts
	## Message From Author
	## Popular
	## Get In Touch
# About Page
# Footer
# Responsive

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#loader {
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	background-color: #fff;
	position:fixed;
	display: table;
	width: 100%;
	top:0;
	height: 100%;
	min-height: 100%;
	z-index:9999;
}

.loader-container {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 12;
	text-align:center;
	text-transform: uppercase;
}

.loader-container svg, 
.blog-loader svg {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    width: 50px;
    height: 50px;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.backtotop {
    background-color: #0d0d0d;
    z-index: 300;
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    bottom: -100px;
    right: 25px;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    color: #fff;
}
.backtotop:hover {
	background-color: #333;
}
.backtotop svg {
    display: inline-block;
    vertical-align: middle;
    fill: #fff;
}
.read-more a {
    font-size: 16px;
    margin-top: 20px;
    width: auto;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
    background-color: #0d0d0d;
    letter-spacing: 0.7px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.read-more a:hover {
	color: #fff;
	background-color: #cd0000;
}
.blog-loader-btn {
	text-align: center;
}
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	background: #f5f5f5;
}

body {
	margin: 0;
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
}

#page {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}
#content {
    position: relative;
/*    max-width: 1365px;
    margin: 0 auto;*/
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 52px;
	font-size: 3.25rem;
}

h2 {
	font-size: 42px;
	font-size: 2.625rem;
}

h3 {
	font-size: 32px;
	font-size: 2rem;
}

h4 {
	font-size: 28px;
	font-size: 1.75rem;
}

h5 {
	font-size: 24px;
	font-size: 1.5rem;
}

h6 {
	font-size: 20px;
	font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #0d0d0d;
	margin: 16px 0;
	line-height: 1.3;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
}

mark {
	background: #ff0;
	color: #0d0d0d;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 8px;
    border: 1px solid #555;
}

td#next {
    text-align: right;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: 400;
}
p {
	margin: 0.8em 0;
    color: #0d0d0d;
    letter-spacing: 0.7px;
    font-size: 16px;
    font-weight: 400;
}
dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #ddd;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

blockquote {
	background-color: #f6f6f6;
    padding: 15px;
    border-left: 5px solid #ccc;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0;
    padding-left: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0.5em;
}

dt {
	font-weight: bold;
    margin-bottom: 1em;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
	border: 1px solid #aaa;
}

textarea {
	width: 100%;
}

textarea,
#respond input,
.wpcf7 input {
    width: 100%;
    border-radius: 0;
    outline: none;
    height: 40px;
    padding: 0 15px;
}
#respond textarea {
    height: 180px;
    padding: 10px 15px;
}
#respond input[type="submit"] {
	border-color: #0d0d0d;
}
#respond input[type="submit"]:hover,
#respond input[type="submit"]:focus {
	border-color: #333; 
	background-color: #333; 
}
p.form-submit {
    clear: both;
    display: table;
    float: right;
    margin-bottom: 0;
}
.comment-notes {
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}
#respond label {
    color: #555;
    margin-bottom: 5px;
    display: table;
}
#respond .comment-form-cookies-consent input[type="checkbox"], 
.comment-form-cookies-consent input[type="checkbox"] {
  width: auto;
  float: left;
}
#respond .comment-form-cookies-consent label, .comment-form-cookies-consent label {
  display: table;
  padding: 6px 0 0 10px;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #0d0d0d;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #555;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#top-menu {
    background-color: #0d0d0d;
    padding: 20px 0;
}
#top-menu svg.icon-up,
#top-menu svg.icon-down {
    margin: auto;
    display: block;
    cursor: pointer;
    fill: #fff;
}
#top-menu ul {
    padding: 0;
}
#top-menu svg.icon-up,
#top-menu.top-menu-active svg.icon-down {
    display: none;
}
#top-menu.top-menu-active svg.icon-up {
    display: block;
}
.social-menu li {
    margin: 0 15px;
}
.social-menu li.date {
    color: #fff;
    background: #cd0000;
    padding: 0px 10px;
    font-size: 14px;
    margin: 2px 0;
    font-weight: 600;
}
.secondary-menu {
    float: left;
}
.social-menu {
    float: right;
}
#top-menu ul li {
    float: left;
    list-style: none;
}
.secondary-menu a {
   	font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
    letter-spacing: 1px;
}
.secondary-menu li.current-menu-item {
	background-color: #cd0000;
}
#masthead {
	margin-bottom: 35px;
    position: relative;
    z-index: 3000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#masthead.site-header.sticky-header.nav-shrink .main-navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}
.search-open #masthead.site-header.sticky-header.nav-shrink .main-navigation {
	position: relative;
}
.header-wrapper {
    padding: 30px 0;
}
.site-branding {
    text-align: center;
    line-height: 1;
}
.site-title {
    font-size: 32px;
    margin: 0;
}
.site-title a {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 0.7px;
}
.site-title a:hover {
	color: #0d0d0d;
}
.site-description {
    margin: 10px 0 0;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.7px;
}
.site-branding img.custom-logo {
    max-height: 75px;
    width: auto;
}
#site-details {
    margin-top: 15px;
}
.main-navigation {
	display: block;
    position: relative;
    background-color: #0d0d0d;
}
.nav-shrink .main-navigation:before, 
.nav-shrink .main-navigation:after {
	display: none;
}
.nav-shrink .main-navigation {
	border: none;
}
.main-navigation ul.sub-menu {
    background-color: #0d0d0d;
    text-align: left;
    padding: 0;
    border: 1px solid rgba(52, 59, 61, 0.05);
    border-top: 2px solid #555;
}
.main-navigation ul.sub-menu li a {
    padding: 12px 15px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(52, 59, 61, 0.2);
}
.main-navigation ul.sub-menu a:after {
	float: right;
}
.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	position: relative;
}

.main-navigation ul.nav-menu > li > a {
    padding: 24px 20px;
}
.main-navigation ul.menu li.current-menu-item > a {
    background-color: #cd0000;
}
.secondary-menu li:hover,
.secondary-menu li:focus,
.main-navigation a:hover,
.main-navigation a:focus {
    color: #fff;
    background-color: #cd0000;
}
.main-navigation a {
	display: block;
    text-decoration: none;
    line-height: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	letter-spacing: 1px;
}
.main-navigation ul ul {
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: -1px;
}
.main-navigation ul ul a {
	width: 225px;
}
.main-navigation svg {
	fill: #fff;
	margin-left: 5px;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	color: #fff;
	background-color: #cd0000;
}
#search form.search-form button,
#search {
    display: none;
    float: left;
}
#top-search {
	margin-left: 30px;
}
form.search-form {
    width: 100%;
    max-width: 100%;
    position: relative;
}
.no-results form.search-form {
	max-width: 400px;
	margin-top: 25px;
}
.no-results {
	margin: 0 10px;
}
.error-404 form.search-form {
	margin: 25px auto 50px;
	max-width: 400px;
}
.error-404 .error-heading {
	font-size: 72px;
}
.main-navigation form.search-form {
    min-width: 320px;
}
input.search-field {
    height: 45px;
    border-radius: 0;
    padding: 0 50px 0 15px;
    width: 100%;
    outline: none;
}
#search input.search-field {
	height: 20px;
}
svg {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}
svg.icon-search {
    width: 15px;
    height: 15px;
    fill: #fff;
}
.main-navigation svg.icon-down {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}
.main-navigation svg.icon-right {
    width: 12px;
    height: 12px;
    fill: #0d0d0d;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.menu-toggle {
    border-radius: 0;
    font-size: 16px;
    margin: auto;
    outline: none;
    display: block;
    height: 50px;
    position: relative;
    background-color: transparent;
    min-width: 64px;
    border-top: 1px solid #0d0d0d;
    border: none;
}
svg.icon-menu {
    fill: #fff;
    width: 30px;
    height: 30px;
    vertical-align: baseline;
}
.menu-open svg.icon-menu {
    display: none;
}
.main-navigation svg.icon-close {
	display: none;
}
button.dropdown-toggle {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    width: 45px;
    height: 55px;
    outline: none;
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 50px 0;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
.post-navigation a, 
.posts-navigation a {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
.post-navigation, 
.posts-navigation {
    padding: 0;
    position: relative;
}
.post-navigation:before,
.posts-navigation:before,
.post-navigation:after,
.posts-navigation:after {
    content: "";
    background-color: #0d0d0d;
    height: 1px;
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    z-index: -1;
}
.post-navigation:after,
.posts-navigation:after {
	top: auto;
	bottom: 2px;
}
.post-navigation,
.posts-navigation,
.post-navigation,
.posts-navigation {
	border-top: 1px solid #0d0d0d;
	border-bottom: 1px solid #0d0d0d;
	padding: 10px 0;
}
.pagination .page-numbers {
    border: 1px solid rgba(190, 190, 190, 0.50);
    min-width: 44px;
    height: 44px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pagination .page-numbers.dots {
	-webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
.pagination .page-numbers.current {
    color: #fff;
    background: #0d0d0d;
}
.pagination a.page-numbers:hover,
.pagination a.page-numbers:focus {
	color: #555;
	border-color: #555;
}
.pagination .page-numbers:last-child {
	margin-right: 0;
}
#masthead .tags-list {
	background-color: #f5f5f5;
}
#masthead .tags-list ul {
	padding: 0;
}
#masthead .tags-list ul li {
	list-style: none;
	float: left;
}
#masthead .tags-list ul li a,
#masthead .tags-list ul li.tags-title {
	padding: 15px 15px 15px 0;
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.footer-widgets-area:before,
.footer-widgets-area:after,
.wrapper:before,
.wrapper:after,
#related-posts:before,
#related-posts:after,
.comments-area:before,
.comments-area:after,
.comment-respond:before,
.comment-respond:after,
ol.comment-list:before,
ol.comment-list:after,
.blog-posts-wrapper:before,
.blog-posts-wrapper:after,
.section-content:before,
.section-content:after,
.widget_instagram ul:before,
.widget_instagram ul:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.footer-widgets-area:before,
.footer-widgets-area:after,
.wrapper:before,
.wrapper:after,
#related-posts:before,
#related-posts:after,
.comments-area:before,
.comments-area:after,
.comment-respond:before,
.comment-respond:after,
ol.comment-list:before,
ol.comment-list:after,
.blog-posts-wrapper:before,
.blog-posts-wrapper:after,
.section-content:before,
.section-content:after,
.widget_instagram ul:before,
.widget_instagram ul:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.3em;
	font-weight: 400;
}
.widget a {
	font-weight: 500;
}
.widget:last-child {
    margin-bottom: 0;
}
.site-content .widget:last-child {
    margin-bottom: 50px;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
    background-color: #f6f6f6;
    padding: 10px;
    border: none;
    width: 100%;
    max-width: 300px;
}
.widget select:focus {
    outline: thin dotted;
}

.widget input {
    outline: none;
    height: 40px;
    border-radius: 0;
    padding: 0 15px;
    border: none;
}
.widget .tagcloud a {
    border: 1px solid #0d0d0d;
    color: #0d0d0d;
    display: inline-block;
    font-size: 14px !important;
    line-height: 1.5;
    margin-bottom: 5px;
    padding: 7px 10px;
}

form.search-form button.search-submit svg.icon-search {
	fill: #0d0d0d;
}
form.search-form button.search-submit {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    width: 45px;
    border-radius: 0;
    outline: none;
}
.widget_search form.search-form button.search-submit {
    width: auto;
    font-size: 14px;
    color: #fff;
    background-color: #0d0d0d;
    min-width: 45px;
}
.widget_search form.search-form button.search-submit svg.icon-search,
.widget_search form.search-form button.search-submit:hover svg.icon-search {
	fill: #fff;
}
.widget_search form.search-form button.search-submit:hover,
.widget_search form.search-form button.search-submit:focus {
	background-color: #222;
}
.widget_search form.search-form input {
	border: 1px solid #0d0d0d;
}
.widget_search form.search-form input {
    padding: 0 100px 0 15px;
}
form.search-form {
    position: relative;
}

form.search-form input {
    width: 100%;
    padding: 0 50px 0 15px;
    font-weight: 400;
}

#wp-calendar tbody td {
    text-align: center;
}

#wp-calendar caption {
    margin-bottom: 15px;
}

.widget-title {
    font-size: 22px;
    margin-top: 0;
}
.widget li {
	list-style: none;
}
.widget li a {
	font-weight: 600;
}
.widget_recent_entries li span.post-date {
	clear: both;
	font-size: 12px;
	display: block;
}
.widget .social-icons li:before,
.widget.widget_instagram li:before {
	content: none;
}
.widget li:not(:last-child) {
    margin-bottom: 8px;
}
#secondary section.widget {
    padding: 25px 0 25px 10px;
}
.left-sidebar #secondary section.widget {
	padding: 25px 10px 25px 0;
}
#secondary section.widget ul,
#secondary section.widget div {
	text-align: left;
}
#secondary #message-from-author div,
#colophon #message-from-author div { 
	text-align: center;
}
#secondary #message-from-author ul,
#colophon #message-from-author ul {
	text-align: center;
}
.widget_instagram ul {
    list-style: none;
    padding: 0;
}
.widget.widget_instagram li {
	margin: 0;
}
.widget.widget_latest_post ul li:not(:last-child) {
	margin-bottom: 15px;
}
.footer-widgets-area .widget_latest_post ul li:before,
.widget_latest_post ul li:before {
	content: none;
}
.widget_latest_post ul li .post-image {
	width: 25%;
	max-width: 81px;
	float: left;
}
.widget_latest_post ul li {
	display: flex;
	align-items: center;
}
.widget_latest_post ul li .post-content {
	width: 72%;
	float: left;
	margin-left: 3%;
}
.widget_latest_post ul li h5 {
	font-size: 20px;
	margin: 0;
}
.widget_latest_post .post-content .entry-meta,
.widget_latest_post .post-content .entry-meta > span.posted-on {
	margin-top: 0;
}
.widget_latest_post .entry-meta span.posted-on a,
.widget_latest_post .entry-meta span.posted-on a time {
	background: none;
	color: #888;
	padding: 0; 
	font-size: 14px;
}
#secondary .widget_instagram ul {
    margin: -10px;
}
#secondary .widget.widget_instagram li {
	padding: 10px;
}
.widget_instagram .column-1 li {
	width: 100%;
	float: none;
}
.widget_instagram .column-2 li {
	width: 50%;
	float: left;
}
.widget_instagram .column-3 li {
	width: 33.33%;
	float: left;
}
.widget_instagram .column-4 li {
	width: 25%;
	float: left;
}
.widget_instagram .column-5 li {
	width: 20%;
	float: left;
}
.widget_instagram .column-6 li {
	width: 16.66%;
	float: left;
}
.widget_instagram li img {
	width: 100%;
    height: 200px;
    object-fit: cover;
}
.social_widget .social-icons {
	float: left;
	color: #0d0d0d;
}
.social_widget .social-icons ul.list-inline li {
	width: auto;
	margin-right: 15px;
}
.social_widget .social-icons ul.list-inline li svg {
	fill: #0d0d0d;
}
#secondary .widget-title,
#secondary .widgettitle {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0;
    position: relative;
    display: inline-block;
}
#secondary ul,
#secondary ol {
	padding-left: 0;
}
#secondary .widget-title span,
#secondary .widgettitle span {
    display: inline-block;
    max-width: 100%;
    position: relative;
    padding: 0 26px;
}
#secondary .widget-title span:before,
#secondary .widgettitle span:before,
#secondary .widget-title span:after,
#secondary .widgettitle span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 80px;
    height: 4px;
    border-top: 1px solid #0d0d0d;
}
#secondary .widget-title span:before,
#secondary .widgettitle span:before {
    right: 100%;
    left: auto;
}
#secondary .widget-title span:after,
#secondary .widgettitle span:after {
	left: 100%;
	right: auto;
}
#secondary .widget:not(:last-child) {
	margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #0d0d0d;
    color: #fff;
    font-size: 14px;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: #555;
}
.jetpack_subscription_widget {
	text-align: center;
}
.jetpack_subscription_widget input[type="email"] {
	width: 100%;
	margin-bottom: 10px;
}
.jetpack_subscription_widget input[type="submit"] {
    min-width: 100px;
    text-align: center;
}
.jetpack_subscription_widget #subscribe-text {
    display: inline-block;
}
.jetpack_subscription_widget #subscribe-text p {
    margin-top: 0;
    line-height: 25px;
}
.jetpack_subscription_widget #subscribe-submit {
    margin-bottom: 0;
}
.widget_popular_post ul {
    padding: 0;
    margin: 0;
    list-style: none;
    clear: both;
    display: table;
}
.widget.widget_popular_post ul li {
	clear: both;
	margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}
.widget.widget_popular_post ul li:last-child {
	margin-bottom: 0;
}
.widget_popular_post h3 {
    font-size: 16px;
    line-height: 22px;
    display: table-row;
}
.widget_popular_post h3 a {
	display: block;
}
.widget_popular_post time {
    margin-top: 5px;
    display: inline-block;
}
.widget_popular_post h3 a,
.widget_popular_post a:hover time,
.widget_popular_post a:focus time {
    color: #0d0d0d;
}
.widget_popular_post h3 a:hover,
.widget_popular_post h3 a:focus,
.widget_popular_post a time,
.widget_popular_post time {
    color: #555;
}
.widget_popular_post img {
    max-width: 95px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}
.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

header.page-header {
    max-width: 900px;
    margin: 10px 0 50px;
}
h1.page-title {
	font-size: 38px;
}
.author img {
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: 20px auto;
}
body.author img {
	border-radius: 0;
}
.page-header span.posted-on {
    margin-bottom: 12px;
    display: inline-block;
    width: 100%;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.page-header span.author-name {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #0d0d0d;
    font-family: 'Oswald', sans-serif;
}
.page-header small {
    font-size: 12px;
    color: #555;
}
.blog-posts-wrapper .featured-image img {
    width: 100%;
}
#comments {
    max-width: 850px;
    margin: 0 auto;
}
nav.navigation.pagination {
    margin-top: 50px;
    clear: both;
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.navigation.pagination svg {
    fill: #0d0d0d;
    width: 16px;
    height: 16px;
    position: relative;
}
.navigation.posts-navigation svg, 
.navigation.post-navigation svg {
    width: 55px;
    height: 55px;
    fill: #0d0d0d;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}
.navigation.posts-navigation svg.icon-left, 
.navigation.post-navigation svg.icon-left {
	margin-right: 10px;
}
.navigation.posts-navigation svg.icon-right, 
.navigation.post-navigation svg.icon-right {
	margin-left: 10px;
}
.wrapper.page-section {
    padding: 30px 0;
    margin-bottom: 0;
}
.homepage-top-wrapper.wrapper.page-section {
	padding-bottom: 0;
}
.no-sidebar-content .single-template-wrapper.page-section {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.blog-posts-wrapper {
    margin: 0 -15px;
}
.blog-posts-wrapper.column-1 {
    margin: 0;
}
.single-template-wrapper .entry-content a {
	text-decoration: underline;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

#reply-title,
.comments-title {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}
.comments-title {
    margin-bottom: 30px;
}
ul.post-categories li:after {
    content: ",";
}
ul.post-categories li:last-child:after {
    display: none;
}
ol.comment-list {
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
}
#comments ol {
    list-style: none;
    margin-left: 0;
    padding: 0;
}
#comments ol.comment-list {
	padding-top: 30px;
	position: relative;
    overflow: hidden;
}
#comments ol.children {
    margin-left: 140px;
}
.says {
    display: none;
}
.comment-meta img {
    max-width: 81px;
    width: 81px;
    float: left;
    border-radius: 50%;
    margin-right: 60px;
}
#comments time:before {
    display: none;
}
.comment-body {
    position: relative;
}
.reply {
    margin-left: 140px;
    margin-bottom: 30px;
    padding-bottom: 30px;
	border-bottom: 1px solid #0d0d0d;
}
#comments article {
    margin-bottom: 30px;
}
#comments ol.comment-list > li:last-child article:last-child,
#comments ol.comment-list > li:last-child {
	border-bottom: none;
}
#comments ol.comment-list > li {
	border-bottom: 1px solid #0d0d0d;
    padding-top: 30px;
}
#comments ol.comment-list > li:first-child {
    padding-top: 0;
}
#comments ol.comment-list > li article:last-child .reply {
	border-bottom: none;
    padding-bottom: 0;
}
.reply a {
    color: #fff;
    font-weight: 400;
    background-color: #0d0d0d;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 6px 28px;
}
.reply a:hover,
.reply a:focus {
	color: #fff;
	background-color: #333;
}
#related-posts .entry-title a:hover,
#related-posts .entry-title a:focus,
#related-posts ul.post-categories li a:hover,
#related-posts ul.post-categories li a:focus {
	color: #333;
}
.comment-meta .url,
.comment-meta .fn {
    display: inline-block;
    text-transform: capitalize;
    color: #0d0d0d;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.comment-meta .url:hover,
.comment-meta .url:focus {
	color: #333;
}
.comment-metadata {
    display: block;
    margin-top: 10px;
}
.comment-content {
    padding-bottom: 10px;
}
.single-post header.page-header {
	margin-bottom: 35px;
}
.single-post article.hentry {
	margin-bottom: 0;
}
.single-post .blog-post h2.entry-title {
    color: #444444;
}
.single-post ul.post-categories {
    display: inline-block;
}
.single-post .entry-meta span,
.single-post .entry-meta span a {
    color: #0d0d0d;
}
.single-post .entry-meta > span {
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 20px;
}
.single-post .entry-meta > span.posted-on {
	margin-top: 25px;
}
.single-post .entry-meta span.tags-links {
    display: block;
    font-size: 14px;
    text-transform: capitalize;
}
.single-post .entry-meta span.tags-links a {
	padding: 7px 10px;
	border: 1px solid #0d0d0d;
	margin-right: 7px;
}
.single-post .entry-meta > span:not(:first-child):before {
	display: none;
}
.single-post .post-wrapper {
    padding-top: 50px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
#secondary .post-wrapper,
#colophon .post-wrapper {
    padding-top: 0;
}
.comment-content p {
    font-weight: 400;
    color: #565a5f;
    display: table;
    margin-bottom: 1em;
}
.single-post article blockquote {
    background-color: transparent;
    border: 3px solid #555;
    padding: 63px 80px;
    font-size: 22px;
    line-height: 38px;
    font-family: 'Oswald', sans-serif;
    position: relative;
    margin: 15px -90px;
    text-align: center;
}
.single-post article blockquote:before {
    content: "";
    background-image: url('assets/uploads/blockquote.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 25px;
    background-color: #f2f2f2;
    margin-top: -12px;
    background-position: 50%;
}
#related-images {
    background-color: #f2f2f2;
    position: relative;
}
#related-images .wrapper {
    max-width: 980px;
    position: relative;
    z-index: 10;
}
#related-images h2 {
    font-size: 22px;
    font-weight: 400;
    max-width: 800px;
    margin: auto;
    padding: 50px 0 30px;
}
#related-images:after {
    content: "";
    background-color: #fff;
    width: 100%;
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    bottom: 0;
}
span.pagingInfo {
    position: absolute;
    left: 50%;
    bottom: -70px;
    font-size: 16px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.share-this-post small {
    font-size: 12px;
}
.single-post .share-this-post ul li {
    display: block;
    margin-bottom: 7px;
}
.single-post .share-this-post {
    position: absolute;
    left: -190px;
}
.single-post .share-this-post .social-icons {
    margin-left: -10px;
}
#about-author {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
.admin-image {
    max-width: 111px;
    max-height: 111px;
    display: inline-block;
    margin-bottom: 22px;
}
.admin-image img {
	max-width: 111px;
	border-radius: 50%;
	position: relative;
    z-index: 1;
}
.author-content .entry-title {
	margin-bottom: 0;
	line-height: 1;
}
.author-content .entry-title a {
	color: #555;
}
.author-content .entry-title a:hover,
.author-content .entry-title a:focus {
	color: #0d0d0d;
}
.author-content span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.admin-image .separator {
    position: absolute;
    left: 0;
    right: 0;
    top: 56px;
    height: 1px;
    width: 100%;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Layouts and titles
--------------------------------------------------------------*/
section {
	position: relative;
}
.relative {
	display: block;
	position: relative;
}
.relative:before,
.relative:after {
	content: "";
	display: table;
	clear: both;
}
.entry-content {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.7px;
    color: #444;
    font-weight: 400;
}
.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    margin: 0 -15px;
}
.page-section {
    margin-bottom: 50px;
}
.entry-title {
    text-transform: capitalize;
    font-size: 32px;
    margin: 10px 0;
    word-wrap: break-word;
    color: #0d0d0d;
    font-weight: 500;
    letter-spacing: 0.7px;
}
.section-header {
    margin-bottom: 40px;
}
.section-title {
	font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    word-wrap: break-word;
    line-height: 1.75;
    letter-spacing: 0.7px
}
.section-title .color-red,
.widgettitle .color-red,
#journey .entry-title .color-red,
#contact-form .entry-title .color-red,
.related-posts-title .color-red,
#reply-title .color-red {
    font-style: italic;
    margin-right: 5px;
}
.featured-categories.column-2 .featured-categories-wrapper:nth-child(2n+1),
.column-2 .column-wrapper:nth-child(2n+1),
.column-2 article:nth-child(2n+1) {
    clear: left;
}
.featured-categories.column-3 .featured-categories-wrapper:nth-child(3n+1),
.column-3 .column-wrapper:nth-child(3n+1),
.column-3 article:nth-child(3n+1) {
    clear: left;
}
.featured-categories.column-4 .featured-categories-wrapper:nth-child(4n+1),
.column-4 .column-wrapper:nth-child(4n+1),
.column-4 article:nth-child(4n+1) {
    clear: left;
}

.display-none {
    display: none;
}
.display-block {
    display: block;
}
.black-overlay {
    background-color: #0d0d0d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.align-center {
    text-align: center;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Gallery
--------------------------------------------------------------*/
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.portfolio_widget .gallery {
    margin-bottom: 1.5em;
    position: relative;
    overflow: hidden;
    text-align: center;
}
#gallery article .entry-container {
    padding: 2px 20px 20px;
}

/*--------------------------------------------------------------
## Featured Categories 
--------------------------------------------------------------*/
.featured-categories .content-wrapper {
	margin: 0 -10px;
}
.featured-categories-wrapper {
	display: block;
	float: left;
	padding: 0 10px;
}
.category-header {
    border-bottom: 4px solid #0d0d0d;
    margin: 0 0 15px;
}
.featured-categories .category-header .category-title {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    padding: 0 15px 15px 0;
    display: inline-block;
    margin: 0 0 -4px;
    border-bottom: 4px solid #cd0000;
}
.featured-categories .featured-categories-wrapper article {
	width: 100%;
	padding: 0 0 10px;
	margin: 0;
	border-bottom: 1px solid #ddd;
}
.featured-categories .featured-categories-wrapper article.half-width {
	padding: 0;
}
.featured-categories .featured-categories-wrapper article:last-child {
	padding: 0 0 40px;
	border: none; 
}
.featured-categories-wrapper article .featured-image {
	position: relative;
}
.featured-categories-wrapper article.full-width span.posted-on {
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.featured-categories-wrapper article.half-width .post-wrapper {
	display: flex;
	align-items: center;
	padding: 15px 0;
}
.featured-categories-wrapper article.half-width .featured-image {
    width: 25%;
}
.featured-categories-wrapper article.half-width .entry-container {
	padding: 0 0 0 10px;
	width: 75%;
}
.featured-categories-wrapper article .entry-container {
	padding-right: 15px;
}
.featured-categories.column-1 .featured-categories-wrapper {
	width: 100%;
}

.featured-categories.column-2 .featured-categories-wrapper {
	width: 50%;
}

.featured-categories.column-3 .featured-categories-wrapper {
	width: 33.33%;
}

.featured-categories.column-4 .featured-categories-wrapper {
	width: 25%;
}

/*--------------------------------------------------------------
## Slider Posts 
--------------------------------------------------------------*/
.slider_widget .widget-slider {
	background-color: #0d0d0d;
	padding: 25px 25px 0;
}
.slider_widget .widget-slider article .featured-image {
	position: relative;
}
.slider_widget .widget-slider article .featured-image img {
	width: 100%;
}
.slider_widget .widget-slider article .entry-title a {
	color: #fff;
}
.slider_widget .widget-slider article span.posted-on {
	position: absolute;
    left: 15px;
    bottom: 15px;
}
.slider_widget .widget-slider article ul.post-categories li {
	margin: 10px 0 0;
}
.slider_widget .widget-slider article ul.post-categories li:after {
	content: none;
}
.slider_widget .widget-slider article ul.post-categories li a {
	color: #fff;
    padding: 3px 7px;
    font-size: 12px;
    background-color: #cd0000;
}
.slider_widget .widget-slider .slick-next {
	top: 65px;
    right: 40px;
    background-color: rgba(0,0,0,0.8);
}
.slider_widget .widget-slider .slick-prev {
	top: 65px;
    left: auto;
    right: 85px;
    background-color: rgba(0,0,0,0.8);
}

/*--------------------------------------------------------------
## Social Icons
--------------------------------------------------------------*/
.social-icons li {
    display: inline-block;
    height: auto;
    text-align: center;
    position: relative;
    list-style: none;
}
.social-icons {
    margin: 0;
    padding: 0;
}
ul.social-icons li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
}
.social-menu ul li a svg {
	fill: #fff;
}
.social-icons a:focus,
.social-menu ul li a:focus {
	outline: none;
}
.social-menu ul li a:hover svg,
.social-menu ul li a:focus svg,
ul.social-icons li a:hover svg,
ul.social-icons li a:focus svg {
	fill: #ddd;
}
#top-menu .social-menu ul li a:hover,
#top-menu .social-menu ul li a:focus {
	background-color: transparent;
}
/*social links hover effect */

ul.social-icons li a[href*="facebook.com"]:hover svg,
.social-menu ul li a[href*="facebook.com"]:hover svg {
    fill: #3b5998;
}

ul.social-icons li a[href*="twitter.com"]:hover svg,
.social-menu ul li a[href*="twitter.com"]:hover svg {
    fill: #00aced;
}

ul.social-icons li a[href*="plus.google.com"]:hover svg,
.social-menu ul li a[href*="plus.google.com"]:hover svg {
    fill: #dd4b39;
}

ul.social-icons li a[href*="/feed/"]:hover svg,
.social-menu ul li a[href*="/feed/"]:hover svg {
    fill: #dc622c;
}

ul.social-icons li a[href*="wordpress.org"]:hover svg,
.social-menu ul li a[href*="wordpress.org"]:hover svg,
ul.social-icons li a[href*="wordpress.com"]:hover svg,
.social-menu ul li a[href*="wordpress.com"]:hover svg {
    fill: #45bbe6;
}

ul.social-icons li a[href*="github.com"]:hover svg,
.social-menu ul li a[href*="github.com"]:hover svg {
    fill: #4183c4;
}

ul.social-icons li a[href*="linkedin.com"]:hover svg,
.social-menu ul li a[href*="linkedin.com"]:hover svg {
    fill: #007bb6;
}

ul.social-icons li a[href*="pinterest.com"]:hover svg,
.social-menu ul li a[href*="pinterest.com"]:hover svg {
    fill: #cb2027;
}

ul.social-icons li a[href*="flickr.com"]:hover svg,
.social-menu ul li a[href*="flickr.com"]:hover svg {
    fill: #ff0084;
}

ul.social-icons li a[href*="vimeo.com"]:hover svg,
.social-menu ul li a[href*="vimeo.com"]:hover svg {
    fill: #aad450;
}

ul.social-icons li a[href*="youtube.com"]:hover svg,
.social-menu ul li a[href*="youtube.com"]:hover svg {
    fill: #bb0000;
}

ul.social-icons li a[href*="instagram.com"]:hover svg,
.social-menu ul li a[href*="instagram.com"]:hover svg {
    fill: #517fa4;
}

ul.social-icons li a[href*="dribbble.com"]:hover svg,
.social-menu ul li a[href*="dribbble.com"]:hover svg {
    fill: #ea4c89;
}

ul.social-icons li a[href*="skype.com"]:hover svg,
.social-menu ul li a[href*="skype.com"]:hover svg {
    fill: #12a5f4;
}

ul.social-icons li a[href*="digg.com"]:hover svg,
.social-menu ul li a[href*="digg.com"]:hover svg {
    fill: #333;
}

ul.social-icons li a[href*="codepen.io"]:hover svg,
.social-menu ul li a[href*="codepen.io"]:hover svg {
    fill: #000;
}

ul.social-icons li a[href*="reddit.com"]:hover svg,
.social-menu ul li a[href*="reddit.com"]:hover svg {
    fill: #ff4500;
}

ul.social-icons li a[href*="mailto:"]:hover svg,
.social-menu ul li a[href*="mailto:"]:hover svg {
    fill: #1d62f0;
}

ul.social-icons li a[href*="foursquare.com"]:hover svg,
.social-menu ul li a[href*="foursquare.com"]:hover svg {
    fill: #f94877;
}

ul.social-icons li a[href*="stumbleupon.com"]:hover svg,
.social-menu ul li a[href*="stumbleupon.com"]:hover svg {
    fill: #eb4924;
}

ul.social-icons li a[href*="twitch.tv"]:hover svg,
.social-menu ul li a[href*="twitch.tv"]:hover svg {
    fill: #6441a5;
}

ul.social-icons li a[href*="tumblr.com"]:hover svg,
.social-menu ul li a[href*="tumblr.com"]:hover svg {
    fill: #32506d;
}

ul.social-icons li a[href*="foursquare.com"]:hover svg,
.social-menu ul li a[href*="foursquare.com"]:hover svg {
    fill: #f94877;
}

ul.social-icons li a[href*="stumbleupon.com"]:hover svg,
.social-menu ul li a[href*="stumbleupon.com"]:hover svg {
    fill: #eb4924;
}

ul.social-icons li a[href*="twitch.tv"]:hover svg,
.social-menu ul li a[href*="twitch.tv"]:hover svg {
    fill: #6441a5;
}

ul.social-icons li a[href*="tumblr.com"]:hover svg,
.social-menu ul li a[href*="tumblr.com"]:hover svg {
    fill: #32506d;
}

ul.social-icons li a[href*="soundcloud.com"]:hover svg,
.social-menu ul li a[href*="soundcloud.com"]:hover svg {
    fill: #ff5500;
}

ul.social-icons li a[href*="wordpress.org"]:hover svg,
.social-menu ul li a[href*="wordpress.org"]:hover svg {
    fill:#45bbe6;
}

ul.social-icons li a[href*="jsfiddle.net"]:hover svg,
.social-menu ul li a[href*="jsfiddle.net"]:hover svg {
    fill:#4679bd;
}

ul.social-icons li a[href*="tripadvisor.com"]:hover svg,
.social-menu ul li a[href*="tripadvisor.com"]:hover svg {
    fill:#86c171;
}

ul.social-icons li a[href*="foursquare.com"]:hover svg,
.social-menu ul li a[href*="foursquare.com"]:hover svg {
    fill:#2d5be3;
}

ul.social-icons li a[href*="angel.co"]:hover svg,
.social-menu ul li a[href*="angel.co"]:hover svg {
    fill:#000;
}

ul.social-icons li a[href*="slack.com"]:hover svg,
.social-menu ul li a[href*="slack.com"]:hover svg {
    fill:#56b68b;
}
/*--------------------------------------------------------------
## Breadcrumb
--------------------------------------------------------------*/
#breadcrumb-list ul.trail-items {
    position: absolute;
    right: 0;
    top: 140px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.single-post #breadcrumb-list ul.trail-items {
    top: 245px;
    right: -125px;
}
ul.trail-items {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.trail-items li.trail-item.trail-end {
    color: #555;
}
ul.trail-items li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}
ul.trail-items li a {
    color: #555;
}
ul.trail-items li a:hover,
ul.trail-items li a:focus {
    color: #555;
}
ul.trail-items li:after {
    content: "-";
}
ul.trail-items li:last-child:after {
    display: none;
}
.widget_media_gallery .gallery-item {
    margin: 0;
    width: 50%;
    float: left;
    padding: 5px;
}
.gallery-caption {
	display: block;
}
.gallery-caption {
	display: block;
}
/*--------------------------------------------------------------
## Banner Slider
--------------------------------------------------------------*/
#custom-header {
	position: relative;
}
.page-template-aboutpage #custom-header,
.home.page #custom-header {
	margin-bottom: 20px;
}
#custom-header .slick-list {
    margin-left: -20px;
}
#custom-header .slick-slide {
    margin-left: 20px;
    position: relative;
}
#custom-header .slick-slide img {
	width: 100%;
}
.custom-header-content {
	padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    margin: auto;
    background-color: transparent;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.7));
    width: 100%;
}
.custom-header-content ul.post-categories li a {
	color: #fff;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 600;
	background-color: #cd0000;
}
.custom-header-content ul.post-categories li:after {
	content: none;
}
.custom-header-content h2 {
	margin: 0;
	line-height: 0.7;
}
.custom-header-content h2 a {
	color: #fff;
	font-size: 20px;
}
.custom-header-content h2 a:hover,
.custom-header-content h2 a:focus {
	color: #fff;
}
.custom-header-content p {
    color: #fff;
	margin: 10px 0 0;
}
.custom-header-content span.posted-on a, 
.custom-header-content span.posted-on time {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    padding: 0;
}
.separator {
    background-color: #0d0d0d;
    width: 63px;
    height: 2px;
    margin: auto;
}
.custom-header-content .separator {
	background-color: #f5f5f5;
}
/*--------------------------------------------------------------
## Message From Author
--------------------------------------------------------------*/
#message-from-author {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    background: #f5f5f5;
}
#message-from-author .entry-title {
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: 500;
}
#message-from-author .section-content {
    max-width: 800px;
    margin: auto;
    padding: 0 25px;
}
#message-from-author .entry-header {
    margin-bottom: 10px;
    display: inline-block;
}
#message-from-author .entry-content {
    margin-bottom: 5px;
}
#message-from-author .separator {
    margin-bottom: 15px;
    width: 89px;
}
#message-from-author .author-thumbnail {
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto 25px;
    border-radius: 150px;
    position: relative;
}
.author-thumbnail img {
    max-width: 150px;
    border-radius: 100%;
    box-shadow: 5px 7px 12px -5px #888;
}
#message-from-author .author-thumbnail:before,
#message-from-author .author-thumbnail:after {
    content: "";
    border-top: 1px solid #0d0d0d;
    position: absolute;
    top: 50%;
    right: 0;
    width: 177px;
    height: 4px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#secondary #message-from-author .author-thumbnail:before,
#secondary #message-from-author .author-thumbnail:after,
#colophon #message-from-author .author-thumbnail:before,
#colophon #message-from-author .author-thumbnail:after {
	width: 25px;
}
#secondary #message-from-author .widget-title,
#colophon #message-from-author .widget-title {
	margin-bottom: 0;
}
#message-from-author .author-thumbnail:before {
	right: 100%;
	margin-right: 35px;
}
#message-from-author .author-thumbnail:after {
	left: 100%;
	margin-left: 35px;
}
/*--------------------------------------------------------------
## Featured Posts
--------------------------------------------------------------*/
#featured-posts .wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 3px;
}
#featured-posts,
#gallery,
#popular-posts {
	margin-bottom: 30px;
}
#featured-posts .entry-header h2.entry-title {
	margin-top: 5px;
}
#featured-posts ul.post-categories li:after {
	content: none;
}
#featured-posts ul.post-categories li {
	margin: 10px 0 0;
}
#featured-posts ul.post-categories li a {
	color: #fff;
    padding: 3px 7px;
    font-size: 12px;
    background-color: #cd0000;
}
#featured-posts .section-content article .featured-image {
	position: relative;
}
#featured-posts .section-content article .featured-image span.posted-on {
	position: absolute;
	left: 15px;
    bottom: 15px;
}
#message-from-author,
#introduction,
#instagram {
    margin-bottom: 75px;
}
#secondary .section-header,
#colophon .section-header{
	margin: 0;
	text-align: left;
}
#secondary .entry-title,
#colophon .entry-title,
#secondary #introduction .entry-container .entry-title,
#colophon #introduction .entry-container .entry-title{
	font-size: 18px;
}
#secondary #introduction .entry-container,
#colophon #introduction .entry-container,
#secondary #introduction .featured-image, 
#colophon #introduction .featured-image {
	padding: 0 0 15px 0;
	width: 100%;
}
#secondary #featured-posts .entry-container,
#colophon #featured-posts .entry-container {
	padding: 5px 0 25px 12px;
}
#secondary section.featured_widget,
#secondary section.portfolio_widget,
#colophon section.featured_widget,
#colophon section.portfolio_widget {
	padding-bottom: 0;
}

#secondary #popular-posts .section-content,
#colophon #popular-posts .section-content {
	margin: 0;
}
#secondary #featured-posts,
#colophon #featured-posts,
#secondary #gallery,
#colophon #gallery,
#secondary #popular-posts,
#colophon #popular-posts,
#secondary #message-from-author,
#colophon #message-from-author,
#secondary #introduction,
#colophon #introduction,
#secondary #instagram,
#colophon #instagram {
    margin: 0;
}
#secondary #featured-posts .wrapper,
#colophon #featured-posts .wrapper,
#secondary #gallery .wrapper,
#colophon #gallery .wrapper,
#secondary #popular-posts .wrapper,
#colophon #popular-posts .wrapper,
#secondary #introduction .wrapper,
#colophon #introduction .wrapper,
#secondary #instagram .wrapper,
#colophon #instagram .wrapper {
	width: 100%;
	padding: 0;
}
#secondary #introduction .post-wrapper, 
#colophon #introduction .post-wrapper, 
#secondary #introduction .post-wrapper,
#colophon #introduction .post-wrapper {
	display: block;
}
#secondary #featured-posts article,
#colophon #featured-posts article,
#secondary #introduction article,
#colophon #introduction article,
#secondary #gallery article,
#colophon #gallery article,
#secondary #popular-posts article,
#colophon #popular-posts article {
	width: 100%;
	margin-bottom: 0;
	padding: 0;
}
#colophon article {
	padding: 0;
}
#featured-posts .featured-image img {
	width: 100%;
}
.section-separator:before {
    content: "";
    background-color: #0d0d0d;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
}
.section-separator:before {
	bottom: 3px;
}
.section-header .section-title,
.add-separator .section-title {
	position: relative;
	display: inline;
}
.add-separator {
    position: relative;
    overflow: hidden;
}
.add-separator .section-title:before, 
.add-separator .section-title:after {
    content: "";
    border-top: 1px solid #0d0d0d;
    position: absolute;
    top: 50%;
    right: 0;
    width: 1000px;
    height: 2px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.add-separator .section-title:before {
    right: 100%;
    margin-right: 36px;
}
.add-separator .section-title:after {
    left: 100%;
    margin-left: 36px;
}

#featured-posts article .entry-container,
.blog-posts-wrapper article .entry-container {
    padding: 0 0 20px;
}
.entry-header .posted-on {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
span.posted-on a, 
span.posted-on time {
    color: #fff;
    font-size: 12px;
    background: #0d0d0d;
    padding: 5px 7px;
}
span.posted-on a:hover, 
span.posted-on time:hover,
span.posted-on a:focus, 
span.posted-on time:focus {
    color: #ddd;
}
article .entry-title {
	font-size: 22px;
}
article .entry-title a {
    color: #0d0d0d;
    display: block;
}
article .entry-title a:hover,
article .entry-title a:focus {
    color: #555;
}
#gallery article .entry-title a {
	padding: 25px 0;
	width: auto;
}
#gallery article .gallery {
	margin-bottom: 0;
}
#gallery article {
	margin-bottom: 20px;
}
ul.post-categories {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
ul.post-categories li {
    display: inline-block;
}
.entry-meta > span {
    display: inline-block;
    font-size: 14px;
    color: #888;
}
.entry-meta > span a {
    color: #888;
}
.entry-meta > span a:hover,
.entry-meta > span a:focus {
    color: #333;
}
.entry-meta > span:not(:first-child):before {
	content: "|";
    display: inline-block;
    vertical-align: middle;
    margin: -3px 3px 0;
}
/*--------------------------------------------------------------
## Introduction
--------------------------------------------------------------*/
#introduction .post-wrapper {
    display: flex;
    align-items: center;
}
#introduction.left-align .post-wrapper {
	flex-direction: row-reverse;
}
#introduction article {
	outline: none;
}
#introduction .featured-image img {
    min-height: 400px;
    object-fit: cover;
}
#introduction .entry-container {
	padding: 0 25px 0 0;
	text-align: left;
}
#introduction.left-align .entry-container {
	padding: 0 0 0 25px;
}
#introduction .entry-container .entry-title {
	font-size: 32px;
    margin: 10px 0 20px;
}
.slick-prev, 
.slick-next {
    background-color: #0d0d0d;
    width: 40px;
    height: 50px;
    z-index: 1;
    border-radius: 0;
    left: 0;
}
.slick-prev:hover, 
.slick-next:hover,
.slick-prev:focus, 
.slick-next:focus {
	background-color: #cd0000;
}
.slick-prev:before,
.slick-next:before {
    background-image: url('assets/uploads/down-arrow.svg');
    content: "";
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    margin: auto;
    color: #0d0d0d;
}
.slick-prev:before {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.slick-next:before {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.slick-next {
	right: 0%;
	left: auto;
}
.slick-dots li {
    margin: 0;
    width: 25px;
    height: 20px;
}
.slick-dots li button {
    padding: 0;
    width: auto;
    height: auto;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #000;
    background-color: transparent;
}
.slick-dots li button:before {
	font-size: 25px;

}
.slick-dots {
	bottom: -40px;
}
.slick-dotted.slick-slider {
	margin-bottom: 20;
}

/*--------------------------------------------------------------
## Popular Posts
--------------------------------------------------------------*/
#popular-posts article {
	text-align: left;
}
#popular-posts article .post-wrapper {
	display: flex;
	align-items: center;
}
#popular-posts article.full-width .post-wrapper {
	display: initial;
}
#popular-posts article .entry-title {
    margin-bottom: 5px;
    margin-top: 0;
}
#popular-posts article.half-width .entry-container {
	padding: 0 0 0 10px;
}
#popular-posts article.full-width .featured-image {
	position: relative;
}
#popular-posts article.full-width span.posted-on {
	position: absolute;
	left: 15px;
	bottom: 15px;
}
#popular-posts ul.post-categories li:after {
	content: none;
}
#popular-posts ul.post-categories li {
	margin: 10px 0 5px;
}
#popular-posts ul.post-categories li a {
	color: #fff;
    padding: 3px 7px;
    font-size: 12px;
    background-color: #cd0000;
}
#popular-posts article.half-width ul.post-categories li {
	margin: 0;
}
#gallery img,
#popular-posts img {
    width: 100%;
}
.entry-meta {
    margin-top: 20px;
}
#popular-posts article.half-width .entry-title {
	margin-top: 5px;
}
#popular-posts article.half-width .featured-image {
	width: 25%;
}
#popular-posts article.half-width .entry-container {
	width: 75%;
}
#popular-posts article.half-width span.posted-on a, 
#popular-posts article.half-width span.posted-on time {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    padding: 0;
}
#popular-posts .section-content {
    margin: 0 -10px;
}
#featured-posts .section-content article,
#popular-posts .section-content article {
    padding: 0 15px;
    margin-bottom: 20px;
}
/*--------------------------------------------------------------
## Get In Touch
--------------------------------------------------------------*/
.wpcf7 input, 
.wpcf7 textarea {
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #0d0d0d;
    height: 40px;
    padding: 0 15px;
    outline: none;
    width: 100%;
}
.wpcf7 textarea {
    height: 180px;
    padding: 10px 15px;
}
.wpcf7 input.wpcf7-form-control.wpcf7-submit {
    width: 100%;
    padding: 0 38px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    background-color: #0d0d0d;
    color: #fff;
    border: 1px solid #0d0d0d;
    float: right;
}
.wpcf7 input.wpcf7-form-control.wpcf7-submit:hover,
.wpcf7 input.wpcf7-form-control.wpcf7-submit:focus {
	background-color: #555;
	border-color: #555; 
	color: #fff;
}
.wpcf7-form-control-wrap {
    margin-top: 5px;
    display: block;
}
.wpcf7 label {
    margin-top: 24px;
    display: block;
}
#contact-form {
    margin-top: -8px;
}
#contact-form h2,
#contact-form .entry-title {
    font-size: 48px;
    margin: 0;
    line-height: 1;
    text-transform: none;
}
#contact-form h1,
#contact-form h2,
#contact-form h3,
#contact-form h4,
#contact-form h5,
#contact-form h6 {
	font-weight: 400;
}
#contact-form .wpcf7 {
    margin-top: 30px;
}
.contact_widget .contact-details svg {
	width: 28px;
	height: 28px;
	padding: 6px;
	margin-right: 10px;
	background: #0d0d0d;
	fill: #ddd;
}
.contact_widget .contact-details div:not(:last-child) {
	margin-bottom: 15px;
}
.contact_widget .contact-details a,
.contact_widget .contact-details p {
	font-weight: 400;
}
.contact_widget .contact-details .contact-email a:not(:last-child):after,
.contact_widget .contact-details .contact-phone a:not(:last-child):after {
	content: ', ';
}
.column-2 .column-wrapper.custom-info {
    width: 500px;
}
.map-column {
	position: absolute;
    right: 0;
}
.widget_call_to_action ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.custom-info .widget-title {
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}
.custom-info .widget_call_to_action ul li {
	color: rgba(255, 255, 255, 0.70);
	border-top: 1px solid rgba(255, 255, 255, 0.20);
	padding: 25px 150px 25px 0;
}
.custom-info .widget_call_to_action ul li:last-child {
	border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}
#map {
    height: 520px;
}
.widget_contact_info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.widget_contact_info label {
    display: block;
    font-size: 22px;
    color: #0d0d0d;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}
.widget_contact_info ul li {
	float: left;
	width: 33.33%;
	text-align: center;
	margin-top: 10px;
}
#secondary .widget_contact_info ul li {
	float: none;
	width: auto;
	text-align: left;
	margin-top: 0; 
}
#secondary .widget_contact_info ul li:not(:last-child) {
    margin-bottom: 26px;
}
.contact-form p.name, 
.contact-form p.email,
.contact-form p.subject, 
.contact-form p.message {
	margin-bottom: 18px;
}
#contact-us .entry-container {
	position: relative;
	padding-bottom: 45px;
    margin-bottom: 45px;
}
.contact-information {
    margin-top: 20px;
}
.contact-information header.entry-header .entry-title {
    line-height: 1;
    margin-bottom: 18px;
}
.contact-information .contact-form {
    background-color: #f2f2f2;
    padding: 50px;
}
.contact-information .wpcf7 label,
.contact-information .wpcf7 p {
    margin-top: 0;
}
.contact-information .wpcf7 p {
    margin-bottom: 20px;
}
.form-title {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 24px;
}
/*--------------------------------------------------------------
## Color and Font Options
--------------------------------------------------------------*/
.color-switcher {
  width: 300px;
  position: fixed;
  left: -300px;
  top: 0;
  bottom: 0;
  background-color: #ddd;
  z-index: 30000;
  padding: 0px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
  -moz-box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
  box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
}
.color-switcher .switch-colors .brown.active {
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
}
.color-switcher .switch-colors .blue.active {
    border-bottom: 2px solid #035BBC;
    padding-bottom: 5px;
}
.color-switcher .switch-colors .red.active {
    border-bottom: 2px solid #b2323c;
    padding-bottom: 5px;
}
.color-switcher .switch-colors .yellow.active {
    border-bottom: 2px solid #fccc31;
    padding-bottom: 5px;
}
.color-switcher .switch-colors .green.active {
    border-bottom: 2px solid #009999;
    padding-bottom: 5px;
}
.color-switcher h5 {
  font-size: 15px;
  margin-top: 0;
  padding: 0 20px 0;
}
.color-switcher p {
  font-size: 18px;
  color: #0d0d0d;
  margin-bottom: 0;
  height: 40px;
  text-align: left;
  font-weight: 600;
  line-height: 42px;
  text-transform: uppercase;
  border-bottom: 1px solid #555;
  margin-bottom: 10px;
}
.color-switcher ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.color-switcher ul li {
  float: left;
}
.color-switcher ul li a {
  display: block;
  width: 35px;
  height: 35px;
  outline: none;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  color: #0d0d0d;
}
.color-switcher .font-family a {
    text-transform: uppercase;
}
.color-switcher .font-family li a {
    display: inline;
    line-height: 0;
}
.color-switcher .font-family li.active a,
.color-switcher .font-family li a:hover,
.color-switcher .font-family li a:focus {
    color: #555;
}
.color-switcher ul li a.blue {
  background: #035BBC;
}
.color-switcher ul li a.green {
  background: #009999;
}
.color-switcher ul li a.yellow {
  background: #F2BD19;
}
.color-switcher ul li a.red {
  background: #b2323c;
}
.color-switcher li .brown {
    background: #555;
}
svg.icon-settings {
    margin-top: 20px;
}
.picker_close,.picker_close:hover,
.picker_close:focus {
    color: #ed6820;
    width: 55px;
    height: 55px;
    position: absolute;
    right: -55px;
    top: 25%;
    text-align: center;
    background: #ddd;
    box-shadow: 5px 3px 7px 0px rgba(51, 51, 51, 0.23);
    -moz-box-shadow: 5px 3px 7px 0px rgba(51, 51, 51, 0.23);
}
.picker_close i {
  font-size: 25px;
  line-height: 55px;
}
.position {
  left: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.theme-colours, .layouts, .backgrounds, .choose-header, .choose-footer {
  display: table;
  text-align: left;
  padding-top: 0px;
  width: 100%;
  padding: 19px;
  padding-top: 0px;
  padding-left: 25px;
}
.layouts a, .choose-header a, .choose-footer a {
  display: inline-block;
  text-align: center;
  width: 40%;
  margin: 0 5px 0 0;
  color: #5d5d5d;
  font-size: 15px;
  border: 1px solid #e7e7e7;
  padding: 5px 7px 2px;
}
.layouts a:hover, 
.choose-header a:hover, 
.choose-footer a:hover,
.layouts a:focus, 
.choose-header a:focus, 
.choose-footer a:focus {
  border: 2px solid #a9a9a9;
  padding: 4px 5px 1px
}
.styleswitcher {
  position: fixed;
  width: 120px;
  background: #ffffff;
  color: #595959;
  top: 150px;
  right: -123px;
  z-index: 999;
}
.styleswitcher p {
  color: #0d0d0d !important;
}
.styleswitcher.ackapa {
  left: 0;
}
.styleswitcher .switch {
  padding-left: 15px;
  padding-bottom: 10px;
}
.styleswitcher .switch h5 {
  margin-top: 20px;
}
.styleswitcher .switch p {
  margin-top: 10px;
}
.stylebutton {
  cursor: pointer;
  position: absolute;
  text-align: center;
  line-height: 40px;
  background: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  top: 0px;
  right: -40px;
}
.styleswitcher a {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 7px;
  margin-bottom: 10px;
  position: relative;
  z-index: 99999999;
}
.color-switcher ul li {
  margin: 3px;
}
.color-switcher ul.font-family li {
    float: none;
}
.boxed {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
}
.boxed .jetpack_subscription_widget .widgettitle {
    font-size: 38px;
}
li .wide, 
li .boxed {
    background: #347FE1;
    color: #fff !important;
    padding: 0 6px;
    width: 157px !important;
    text-decoration: none;
    box-shadow: none;
}
li .wide:hover, 
li .boxed:hover,
li .wide:focus, 
li .boxed:focus {
    background: #0d0d0d;
}
li .wide {
    margin-top: 10px;
}
.boxed .backtotop {
    right: 75px;
}

/*--------------------------------------------------------------
##                      Font Switcher
--------------------------------------------------------------*/
.header-font-1 #masthead.site-header.sticky-header.nav-shrink .site-title a, 
.header-font-1 .site-title a,
.header-font-1 .secondary-menu a,
.header-font-1 .main-navigation a,
.header-font-1 h1,
.header-font-1 h2,
.header-font-1 h3,
.header-font-1 h4,
.header-font-1 h5,
.header-font-1 h1 a,
.header-font-1 h2 a,
.header-font-1 h3 a,
.header-font-1 h4 a,
.header-font-1 h5 a {
    font-family: 'Rajdhani', sans-serif;
 }
.header-font-2 #masthead.site-header.sticky-header.nav-shrink .site-title a, 
.header-font-2 .site-title a,
.header-font-2 .secondary-menu a,
.header-font-2 .main-navigation a,
.header-font-2 h1,
.header-font-2 h2,
.header-font-2 h3,
.header-font-2 h4,
.header-font-2 h5,
.header-font-2 h1 a,
.header-font-2 h2 a,
.header-font-2 h3 a,
.header-font-2 h4 a,
.header-font-2 h5 a {
    font-family: 'Roboto', cursive;
}
.header-font-3 #masthead.site-header.sticky-header.nav-shrink .site-title a, 
.header-font-3 .site-title a,
.header-font-3 .secondary-menu a,
.header-font-3 .main-navigation a,
.header-font-3 h1,
.header-font-3 h2,
.header-font-3 h3,
.header-font-3 h4,
.header-font-3 h5,
.header-font-3 h1 a,
.header-font-3 h2 a,
.header-font-3 h3 a,
.header-font-3 h4 a,
.header-font-3 h5 a {
    font-family: 'Philosopher', sans-serif;
}
.header-font-4 #masthead.site-header.sticky-header.nav-shrink .site-title a, 
.header-font-4 .site-title a,
.header-font-4 .secondary-menu a,
.header-font-4 .main-navigation a,
.header-font-4 h1,
.header-font-4 h2,
.header-font-4 h3,
.header-font-4 h4,
.header-font-4 h5,
.header-font-4 h1 a,
.header-font-4 h2 a,
.header-font-4 h3 a,
.header-font-4 h4 a,
.header-font-4 h5 a {
    font-family: 'Slabo 27px', sans-serif;
}
.header-font-5 #masthead.site-header.sticky-header.nav-shrink .site-title a, 
.header-font-5 .site-title a,
.header-font-5 .secondary-menu a,
.header-font-5 .main-navigation a,
.header-font-5 h1,
.header-font-5 h2,
.header-font-5 h3,
.header-font-5 h4,
.header-font-5 h5,
.header-font-5 h1 a,
.header-font-5 h2 a,
.header-font-5 h3 a,
.header-font-5 h4 a,
.header-font-5 h5 a {
    font-family: 'Dosis', sans-serif;
}
.header-font-6 #masthead.site-header.sticky-header.nav-shrink .site-title a, 
.header-font-6 .site-title a,
.header-font-6 .secondary-menu a,
.header-font-6 .main-navigation a,
.header-font-6 h1,
.header-font-6 h2,
.header-font-6 h3,
.header-font-6 h4,
.header-font-6 h5,
.header-font-6 h1 a,
.header-font-6 h2 a,
.header-font-6 h3 a,
.header-font-6 h4 a,
.header-font-6 h5 a {
    font-family: 'Raleway', sans-serif;
}
body.body-font-1 #masthead.site-header.sticky-header.nav-shrink .site-description, 
body.body-font-1 .site-description,
body.body-font-1,
body.body-font-1 .main-navigation ul li a,
body.body-font-1 .wpcf7 input, 
body.body-font-1 .wpcf7 textarea {
    font-family: 'News Cycle', sans-serif;
}
body.body-font-2 #masthead.site-header.sticky-header.nav-shrink .site-description, 
body.body-font-2 .site-description,
body.body-font-2,
body.body-font-2 .main-navigation ul li a,
body.body-font-2 .wpcf7 input, 
body.body-font-2 .wpcf7 textarea {
    font-family: 'Pontano Sans', sans-serif;
}
body.body-font-3 #masthead.site-header.sticky-header.nav-shrink .site-description, 
body.body-font-3 .site-description,
body.body-font-3,
body.body-font-3 .main-navigation ul li a,
body.body-font-3 .wpcf7 input, 
body.body-font-3 .wpcf7 textarea {
    font-family: 'Gudea', sans-serif;
}
body.body-font-4 #masthead.site-header.sticky-header.nav-shrink .site-description, 
body.body-font-4 .site-description,
body.body-font-4,
body.body-font-4 .main-navigation ul li a,
body.body-font-4 .wpcf7 input, 
body.body-font-4 .wpcf7 textarea {
    font-family: 'Quattrocento', sans-serif;
}
body.body-font-5 #masthead.site-header.sticky-header.nav-shrink .site-description, 
body.body-font-5 .site-description,
body.body-font-5,
body.body-font-5 .main-navigation ul li a,
body.body-font-5 .wpcf7 input, 
body.body-font-5 .wpcf7 textarea {
    font-family: 'Khand', sans-serif;
}

/*--------------------------------------------------------------
# 					Footer
--------------------------------------------------------------*/
#colophon {
    background-color: #f5f5f5;
}
.footer-widgets-area {
    padding: 80px 0 50px;
}
.site-info {
    background-color: #0d0d0d;
    color: #aeafb0;
    padding: 18px 0;
    line-height: 1;
}
.site-info p {
	margin: 0;
	color: #aeafb0;
}
.site-info a {
	color: #f5f5f5;
}
.site-info a:hover,
.site-info a:focus {
	border-bottom: 1px solid #f5f5f5;
}
.site-footer .widget-title {
    font-size: 22px;
    margin-top: 0;
    font-weight: 500;
}
.footer-widgets-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-widgets-area ul li:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #0d0d0d;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.footer-widgets-area .widget ul li {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.footer-widgets-area .widget ul li:last-child {
	margin-bottom: 0;
}
.textwidget {
    line-height: 24px;
}
.textwidget img {
    display: block;
    margin: 25px 0;
}
/*--------------------------------------------------------------
# 					RESPONSIVE
--------------------------------------------------------------*/
@media screen and (min-width: 600px) {
	.contact-form p.name, 
	.contact-form p.email {
	    width: 50%;
	    float: left;
	}
	.contact-form p.email input {
		float: right;
	}
	.contact-form p.name input, 
	.contact-form p.email input {
		max-width: 388px;
	}
	.contact-form p.name {
		padding-right: 5px;
	}
	.contact-form p.email {
		padding-left: 5px;
	}
}
@media screen and (min-width: 767px) {
    .column-1 .column-wrapper {
        width: 100%;
    }
    .column-2 .column-wrapper {
        width: 50%;
        float: left;
    }
    .column-3 .column-wrapper {
        width: 33.33%;
        float: left;
    }
    .column-4 .column-wrapper {
        width: 50%;
        float: left;
    }
    .column-5 .column-wrapper {
        width: 20%;
        float: left;
    }
    .column-6 .column-wrapper {
        width: 16.66%;
        float: left;
    }
    .column-2 article {
	    width: 50%;
        padding: 0 15px;
        float: left;
	}
	.column-2 article:nth-child(-n+2) {
		margin-top: 0;
	}
    .column-3 article {
	    width: 33.33%;
        padding: 0 15px;
        float: left;
	}
	.column-4 article {
	    width: 25%;
        padding: 0 10px;
        float: left;
	}
	.header-wrapper {
	    clear: both;
	    display: flex;
	    align-items: center;
	}
	.site-branding {
	    width: 40%;
	    float: left;
	    text-align: left;
	}
	.header-ads {
	    width: 60%;
	    float: right;
	    text-align: right;
	}
	#featured-posts .section-content, 
	#gallery .section-content {
	    margin: 0 -10px;
	}
    #introduction .featured-image,
    #introduction .entry-container {
    	width: 50%;
    }
    .column-2 .contact-address {
	    width: 30%;
	    float: left;
	}
	.column-2 .contact-form {
	    width: 70%;
	    float: left;
        padding-left: 28px;
	}
	.contact-information .contact-form {
		padding: 50px;
	}
	.contact-information .column-2 .contact-address {
	    width: 42%;
        max-width: 464px;
    	padding-right: 15px;
	}
	.contact-information .column-2 .contact-form {
	    width: 58%;
        max-width: 681px;
	    float: right;
	}
	.blog-posts-wrapper article:nth-child(-n+3) {
	    margin-top: 0;
	}
	#top-menu svg.icon-down {
	    display: none;
	}
	.site-footer .column-5 .column-wrapper {
	    padding-right: 15px;
	}
	.site-footer .column-5 .column-wrapper:nth-child(1) {
	    padding-right: 25px;
	}
	#top-menu .wrapper {
	    display: block !important;
	}
    .copyright {
	    float: left;
	}
	.powered-by {
		float: right;
	}
	.blog-posts-wrapper.column-3 article:nth-child(3n+1) {
		clear: left;
	}
	#colophon .column-wrapper {
		padding-right: 25px;
		padding-bottom: 30px;
	}
	#popular-posts .popular-post-wrapper {
		width: 50%;
		float: left;
	}
}
@media screen and (min-width: 992px) {
	.column-4 .column-wrapper,
	#related-posts .column-4 article  {
        width: 25%;
        float: left;
    }
    .right-sidebar #primary {
        width: 70%;
        float: left;
    }
    .right-sidebar #secondary {
        width: 30%;
        float: right;
    }
    .right-sidebar #primary {
        padding-right: 15px;
    }
    .right-sidebar #secondary {
        padding-left: 15px;
    }
    .left-sidebar #secondary {
    	width: 30%;
    	float: left;
    	padding-right: 15px;
    	padding-left: 0;
    }
    .left-sidebar #primary {
    	width: 70%;
        float: right;
        padding-left: 15px;
    }
    .comment-form-author, 
    .comment-form-email,
    .comment-form-url {
        width: 33.33%;
	    float: left;
	    padding:0 2px;
	    margin-top: 0;
    }
    .comment-form-comment,
    .form-submit {
    	padding: 0;
    }
	.site-footer .column-4 .column-wrapper:nth-child(1) {
		width: 33%;
		padding-right: 60px;
	}
	.site-footer .column-4 .column-wrapper {
	    padding-right: 25px;
	    width: 22%;
	}
}
@media screen and (min-width: 1024px) {
	.main-navigation .main-navigation-search {
	    float: right;
	    padding: 12px 0;
	}
	.main-navigation form.search-form {
	    min-width: 320px;
	    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
	    border-radius: 25px;
	}
	.main-navigation form.search-form input {
	    border: none;
	    border-radius: 25px;
	    padding: 0 45px 0 30px;
	    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2) inset;
	}
	.main-navigation ul.nav-menu {
		display: block !important;
	}
	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: auto;
	}
	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: auto;
		left: 100%;
	}
	.main-navigation .menu-item-has-children > a:after {
		float: none;
	}
	.main-navigation:before,
	.main-navigation:after {
	    content: "";
	    position: absolute;
	    width: 100%;
	    height: 1px;
	    left: 0;
	    right: 0;
	}
	.main-navigation:after {
		top: auto;
	}
	.main-navigation ul.sub-menu li:hover > a,
	.main-navigation ul.sub-menu li:focus > a {
		color: #fff;
		padding-left: 17px;
		-webkit-transition: all .3s ease-in;
	    -moz-transition: all .3s ease-in;
	    -o-transition: all .3s ease-in;
	    -ms-transition: all .3s ease-in;
	    transition: all .3s ease-in;
	}
	.main-navigation ul.sub-menu li a svg {
		float: right;
		-ms-transform: rotate(-90deg); /* IE 9 */
	    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
	    transform: rotate(-90deg);
	}
	.main-navigation ul.sub-menu li:hover > a svg,
	.main-navigation ul.sub-menu li:focus > a svg {
		fill: #fff;
	}
	button.dropdown-toggle {
		display: none;
	}
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
	.main-navigation li {
	    display: inline-block;
	}
	#search form.search-form input {
	    background-color: transparent;
	    border: none;
	    border-bottom: 2px solid #fff;
	    color: #fff;
	    font-size: 14px;
	}
	#search form.search-form button.search-submit {
		background-color: transparent;
	}
	#search form.search-form input {
	    padding: 0 10px 0 5px;
	}
	#search.search-open {
		display: block;
		width: 150px;
	}
}
@media screen and (min-width: 1900px) {
	#page {
	    box-shadow: 0 0 50px #555;
	}
	.wrapper {
		max-width: 1500px;
	}
}
@media screen and (max-width: 1200px) {
	.main-navigation ul.nav-menu > li > a {
		padding: 24px 10px;
	}
}
@media screen and (max-width: 1023px) {
	body.home #masthead,
	#masthead {
	    margin-bottom: 0;
	    background-attachment: fixed;
	}
	.main-navigation {
	    padding: 0;
	    background: #0d0d0d;
	}
	.main-navigation a {
	    border-bottom: 1px solid rgba(52, 59, 61, 0.10);
	}
	.main-navigation ul ul a {
	    width: 100%;
	}
	.main-navigation ul ul,
	.main-navigation ul ul ul {
	    box-shadow: none;
	    float: none;
	    position: relative;
	    top: 0;
	    left: 0;
	    margin-bottom: 0;
	    display: none;
	}
	#site-header-menu .wrapper {
	    width: 100%;
	}
	.main-navigation ul.sub-menu li {
	    padding-right: 0;
	}
	.main-navigation .menu-item-has-children > a:before {
	    content: "";
	    float: right;
	    position: relative;
	    right: 25px;
	    background-color: #0d0d0d;
	    width: 1px;
	    height: 25px;
	}
	.main-navigation .menu-item-has-children > a:after {
	    padding-top: 3px;
	}
	.main-navigation ul.nav-menu > li > a,
	.main-navigation ul.sub-menu li a {
	    padding: 15px 15px 15px 25px;
	}
	.main-navigation a:hover, 
	.main-navigation a:focus,
	.main-navigation ul.menu li.current-menu-item > a {
	    color: #0d0d0d;
	}
	.main-navigation .dropdown-toggle svg {
		fill: #0d0d0d;
	}
	.main-navigation .menu-item-has-children a svg {
		display: none;
	}
	.main-navigation ul.sub-menu {
	    background-color: #f5f5f5;
	}
	.main-navigation ul.nav-menu {
	    margin-right: 0;
	    background-color: #f5f5f5;
	    margin-top: 25px;
	}
	.main-navigation a {
		color: #0d0d0d;
	}
	.main-navigation svg.icon-search,
	.main-navigation .search.search-open svg.icon-close,
	.main-navigation svg.icon-down {
		fill: #0d0d0d;
	}
	.main-navigation ul.sub-menu {
		border-top: 1px solid #555;
	}
	.menu-open .menu-toggle .icon-close {
		display: block;
		fill: #fff;
		margin: auto;
		width: 20px;
    	height: 20px;
	}
	.menu-open .menu-toggle {
		padding-top: 6px;
	}
	.site-branding {
		padding: 25px 0;
	}
	#masthead.site-header .main-navigation ul.nav-menu {
		margin-top: 0;
		margin-bottom: 20px;
	    position: relative;
	    top: 0;
	    left: 0;
	    right: 0;
	}
	.menu-open ul.nav-menu {
	    border-top: 1px solid #333;
	}
	#masthead.site-header.sticky-header.nav-shrink .main-navigation ul.nav-menu {
		top: 0;
		overflow-y: auto;
    	max-height: 480px;
	}
	#top-menu {
	    padding: 13px 0;
	}
	.main-navigation li {
	    text-align: center;
	}
	.site-branding img.custom-logo {
	    max-width: 250px;
	}
	.main-navigation ul.sub-menu li a {
	    color: #0d0d0d;
	}
	#search form.search-form input {
	    background-color: transparent;
	    border: none;
	    border-bottom: 2px solid #fff;
	    color: #fff;
	    font-size: 14px;
	}
	#search form.search-form button.search-submit {
		background-color: transparent;
	}
	#search form.search-form input {
	    padding: 0 10px 0 5px;
	}
	#search.search-open {
		display: block;
		width: 150px;
		-webkit-transition: all 1s ease-in-out;
	    -moz-transition: all 1s ease-in-out;
	    -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	    transition: all 1s ease-in-out;
	}
	.main-navigation ul.nav-menu > li > a.search {
		display: none;
	}
	.single-post article blockquote {
		margin: 15px -40px; 
	}
	.page-template-aboutpage #custom-header, 
	.home.page #custom-header {
		margin-top: 40px;
	}
}

@media screen and (max-width: 992px) {
	.column-4 .column-wrapper,
	.column-6 article,
	.column-5 article,
	.column-4 article {
		width: 50%;
		float: left;
	}
	.featured-categories.column-4 .featured-categories-wrapper:nth-child(2n+1),
	.column-4 .column-wrapper:nth-child(2n+1),
	.column-6 article:nth-child(2n+1),
	.column-5 article:nth-child(2n+1),
	.column-4 article:nth-child(2n+1) {
		clear: left;
	}
	.column-5 article {
		width: 33.33%;
		float: left;
	}
	.column-6 article:nth-child(3n+1),
	.column-5 article:nth-child(3n+1) {
		clear: left;
	}
	#secondary {
	    clear: both;
        margin-top: 20px;
	}
	#secondary section.widget {
	    padding: 0;
	}
	#secondary .widget:not(:last-child) {
	    margin-bottom: 20px;
	}
	#secondary .widget_google_ad {
	    text-align: center;
	}
	.site-info {
		text-align: center;
	}
	#introduction .entry-container {
	    padding: 0 15px 30px 0;
	}
	#introduction .entry-container .entry-title {
	    font-size: 22px;
	}
	.textwidget img {
	    max-width: 100%;
	    margin: 25px 0;
	}
	.single-post .post-wrapper {
	    width: 90%;
	}
	#secondary .post-wrapper,
	#colophon .post-wrapper  {
	    width: 100%;
	}
	.single-post article blockquote {
	    margin: 15px 0;
	}
	.single-post article blockquote {
		padding: 50px;
	}
	.featured-categories.column-3 .featured-categories-wrapper,
	.featured-categories.column-4 .featured-categories-wrapper{
		width: 50%;
	}
	.widget_instagram .column-4 li,
	.widget_instagram .column-5 li,
	.widget_instagram .column-6 li {
		width: 50%;
		padding: 0;
	}
	.wrapper.page-section {
		padding: 0;
	}
	.widget_media_gallery .gallery-item {
		width: auto;
	}
}
@media screen and (max-width: 800px) {
	.column-4 article {
		width: 50%;
		float: left;
		margin-top: 30px;
		margin-bottom: 0;
	}
	.column-4 article:nth-child(-n+2) {
		margin-top: 0;
	}
	.contact-information .contact-form {
		padding: 25px;
	}

}
@media screen and (max-width: 767px) {
	.site-branding img.custom-logo {
	    max-width: 250px;
	    height: auto;
	}
	.page-template-aboutpage #custom-header, 
	.home.page #custom-header {
		margin-bottom: 40px;
	}
	.featured-categories.column-2 .featured-categories-wrapper,
	.featured-categories.column-3 .featured-categories-wrapper,
	.featured-categories.column-4 .featured-categories-wrapper,
	#featured-posts .section-content article, 
	#popular-posts .section-content article {
		padding: 0;
		width: 100%;
	}
	.featured-categories .featured-categories-wrapper article.full-width img {
		width: 100%;
	}
	.featured-categories .content-wrapper,
	.blog-posts-wrapper,
	#popular-posts .section-content {
		margin: 0;
	}
	#introduction.left-align .entry-container,
	#introduction .entry-container {
	    padding: 0 0 30px 0;
	}
	.custom-header-content h2 {
		margin: 0;
	}
	.custom-header-content h2 a {
	    font-size: 26px;
	}
	.custom-header-content p {
		font-size: 0.968rem;
	}
	.custom-header-content {
		min-width: 75%;
		min-height: auto;
	}
	#message-from-author, 
	#introduction, 
	#instagram {
		margin-bottom: 50px;
	}
	.widget_contact_info ul li {
		width: 100%;
	}
	.widget_contact_info ul li:not(:last-child) {
	    margin-bottom: 26px;
	}
	.contact-form {
	    clear: both;
	    display: table;
	    width: 100%;
	}
	#top-menu .secondary-menu ul li {
	    float: none;
	    text-align: center;
	    line-height: 40px;
	}
	#top-menu {
	    cursor: pointer;
	}
	.secondary-menu {
	    float: none;
	    margin-bottom: 15px;
	}
	.social-menu {
	    float: none;
	    text-align: center;
	}
	#top-menu .social-menu ul li {
		float: none;
		display: inline-block;
	}
	.secondary-menu ul li:not(:last-child):after {
		display: none;
	}
	#top-menu .wrapper {
	    display: none;
	    padding-top: 30px;
    	padding-bottom: 15px;
	}
	#top-menu:before {
	    content: "";
	    background-color: #ccc;
	    position: absolute;
	    top: 44px;
	    width: 100%;
	    left: 0;
	    height: 1px;
	}
	#introduction .post-wrapper {
		display: block;
	}
	#introduction .post-wrapper .featured-image img {
		width: 100%;
	}
	#introduction .slick-next {
	    right: 0;
	}
	#introduction .hentry {
		margin-bottom: 0;
	}
	.hentry:last-child {
	    margin-bottom: 0;
	}
	#colophon .widget, 
	#colophon .widget img {
	    margin-left: auto;
	    margin-right: auto;
	}
	#colophon .column-wrapper:not(:last-child) {
	    margin-bottom: 30px;
	    clear: both;
	    display: table;
	}
	.footer-widgets-area {
	    padding: 50px 0;
	}
	.textwidget img {
	    max-width: 250px;
	}
	.contact-information .contact-address {
	    margin-bottom: 30px;
	}
	.copyright {
	    margin-bottom: 10px;
	}
	.blog-posts-wrapper.column-3 article {
	    width: 50%;
	    float: left;
	    padding: 0 10px;
	}
	.blog-posts-wrapper.column-3 article:nth-child(2n+1) {
		clear: left;
	}
	.single-post article blockquote {
	    padding: 25px;
	}
	.comment-navigation .nav-previous, 
	.posts-navigation .nav-previous, 
	.post-navigation .nav-previous,
	.comment-navigation .nav-next, 
	.posts-navigation .nav-next, 
	.post-navigation .nav-next {
	    float: none;
	    width: 100%;
	    text-align: center;
	}
	.widget_instagram .column-2 li,
	.widget_instagram .column-3 li,
	.widget_instagram .column-4 li,
	.widget_instagram .column-5 li,
	.widget_instagram .column-6 li {
		width: 100%;
	}
	#search {
		display: inline-block;
		float: none;
		margin: 0 auto 15px;
		width: 200px;
	}
	#search form.search-form input {
	    height: 40px;
	}
	#search form.search-form button {
		display: block;
	}
	.social-menu .search {
		display: none;
	}
	#secondary #featured-posts .entry-container, 
	#colophon #featured-posts .entry-container {
    padding: 5px 0 25px;
	}
	.column-6 .column-wrapper,
	.column-5 .column-wrapper,
	.column-4 .column-wrapper,
	.column-3 .column-wrapper,
	.column-2 .column-wrapper {
		width: 100%;
		float: none;
		clear: both;
	}
}
@media screen and (max-width: 600px) {
	#message-from-author .author-thumbnail:before, 
	#message-from-author .author-thumbnail:after {
		width: 150px;
	}
	#message-from-author .author-thumbnail:before {
		margin-right: 15px;
	}
	#message-from-author .author-thumbnail:after {
		margin-left: 15px;
	}
	.author-thumbnail img {
		max-width: 100px;
	}
	#message-from-author .author-thumbnail {
	    max-width: 100px;
	    max-height: 100px;
	    border-radius: 100px;
	}
	#map {
	    height: 400px;
	}
}
@media screen and (max-width: 550px) {
	.column-6 article,
	.column-5 article,
	.column-4 article {
		width: 100%;
		padding: 0;
	}
	.main-navigation form.search-form {
	    min-width: 100%;
	}
	.wpcf7 input.wpcf7-form-control.wpcf7-submit,
	.wpcf7 input[type="submit"], 
	#respond input[type="submit"] {
	    padding: 0 25px;
	    height: 50px;
	    min-height: 50px;
	    line-height: 50px;
	}
	#related-posts .column-4 article {
	    width: 100%;
	    float: none;
	}
	#comments ol.children {
	    margin-left: 25px;
	}
	.comment-author.vcard b.fn {
	    float: none;
	    display: block;
	}
	.comment-meta img {
	    float: none;
	    margin-right: 0;
	    margin-bottom: 25px;
	}
	.comment-metadata {
	    padding-left: 0;
	    display: block;
	}
	.reply {
	    margin-left: 25px;
	}
	.comment-meta .fn:after {
		display: none;
	}
	#comments article {
	    margin-bottom: 30px;
	}
	.slick-prev, 
	.slick-next {
	    width: 40px;
	    height: 40px;
	}
	#popular-posts .section-content article {
		padding: 0;
	}
	.featured-categories .content-wrapper
	#popular-posts .section-content {
		margin: 0;
	}
	.column-4 article:first-child {
		margin-bottom: 30px;
	}
	.blog-posts-wrapper.column-3 article {
	    width: 100%;
	    float: none;
	    padding: 0;
	}
	.add-separator .section-title:before {
	    right: 95%;
	    margin-right: 20px;
	}
	.add-separator .section-title:after {
	    left: 95%;
	    margin-left: 20px;
	}
	#comments ol.comment-list:before {
		display: none;
	}
	ol.comment-list {
	    border: none;
	}
	header.page-header {
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 480px) {
	.custom-header-content {
		padding: 10px;
	}
	.custom-header-content h2,
	.entry-title,
	#reply-title, 
	.comments-title {
	    font-size: 22px;
	}
	.custom-header-content span {
		font-size: 14px;
	}
	.widget_contact_info label,
	.comment-meta .url, 
	.comment-meta .fn {
		font-size: 18px;
	}
	#message-from-author .author-thumbnail:before, 
	#message-from-author .author-thumbnail:after {
		width: 100px;
	}
	#message-from-author .author-thumbnail:before {
		margin-right: 10px;
	}
	#message-from-author .author-thumbnail:after {
		margin-left: 10px;
	}
	#our-story .content-wrapper {
	    padding: 25px;
	}
	.pagination .page-numbers {
		margin: 5px 0;
	}
	.single-post article blockquote {
	    padding: 25px 20px;
	    font-size: 18px;
	    line-height: 30px;
	}
}
@media screen and (max-width: 360px) {
	.navigation.posts-navigation svg.icon-left, 
	.navigation.post-navigation svg.icon-left {
		margin-bottom: 5px;
		margin-left: auto;
		margin-right: auto;
	}
	.navigation.posts-navigation svg.icon-right, 
	.navigation.post-navigation svg.icon-right {
		margin-top: 5px;
	    float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.navigation.posts-navigation svg, 
	.navigation.post-navigation svg {
	    width: 50px;
	    height: 50px;
	    padding: 16px;
		margin-left: auto;
		margin-right: auto;
	}
	#message-from-author .author-thumbnail:before, 
	#message-from-author .author-thumbnail:after {
		width: 65px;
	}
	.site-branding img.custom-logo {
	    max-width: 175px;
	}
	.textwidget img {
	    max-width: 150px;
	}
}