.elementor-471 .elementor-element.elementor-element-dcde0d2{text-align:center;}.elementor-471 .elementor-element.elementor-element-dcde0d2.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-471 .elementor-element.elementor-element-bd1f4fa .elementor-image img{width:34%;}