.elementor-462 .elementor-element.elementor-element-2d7188b{text-align:center;}.elementor-462 .elementor-element.elementor-element-2d7188b.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-462 .elementor-element.elementor-element-72117f3 .elementor-image img{width:46%;}