.elementor-483 .elementor-element.elementor-element-c403b90{text-align:center;}.elementor-483 .elementor-element.elementor-element-c403b90.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-483 .elementor-element.elementor-element-765a989 .elementor-image img{width:42%;}