.elementor-479 .elementor-element.elementor-element-4ee120c{text-align:center;}.elementor-479 .elementor-element.elementor-element-4ee120c.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-479 .elementor-element.elementor-element-e2e69e1 .elementor-image img{width:36%;}