.elementor-496 .elementor-element.elementor-element-ed6f99f{text-align:center;}.elementor-496 .elementor-element.elementor-element-ed6f99f.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-496 .elementor-element.elementor-element-58e5781 .elementor-image img{width:36%;}