.elementor-475 .elementor-element.elementor-element-0c832f8{text-align:center;}.elementor-475 .elementor-element.elementor-element-0c832f8.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-475 .elementor-element.elementor-element-dfa7f47 .elementor-image img{width:34%;}