.elementor-467 .elementor-element.elementor-element-021412e{text-align:center;}.elementor-467 .elementor-element.elementor-element-021412e.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-467 .elementor-element.elementor-element-3282506 .elementor-image img{width:43%;}