.elementor-492 .elementor-element.elementor-element-4080b29{text-align:center;}.elementor-492 .elementor-element.elementor-element-4080b29.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-492 .elementor-element.elementor-element-647de8f .elementor-image img{width:39%;}