/*Custom css*/
body{
    font:400 16px/26px "Montserrat", sans-serif !important;
    color:rgba(0,0,0,.8) !important;
}

a:hover{
    text-decoration:none;
}

/*============header===========*/

header {
	background:#F4F4F4;
}
.gray {
    background: #f5f5f5;
    border-bottom: 2px solid #d7dbaf;
}

.top-bar {
  font-size: 12px;
  background: #446084;
  color: #fff;
}
.wiz-store-nav {
    font-size: 14px;
}
.top-bar .social a{
	padding:0 10px;
	color:#fff;
}

.brand a h3 {
    font-weight: bold;
    font-size: 30px;
}

.tagline {
    font-size: 18px;
    letter-spacing: -1px;
    color: #000;
}

.btn-search {
    background: black;
    border: 1px solid #d0d0d0;
    color: #fff;
}

#set_menu ul li a {
    font-size: 15px;
    font-weight: bold;
    padding: 6px 10px;
	border-left: 3px solid rgba(0,0,0,0);
}

#set_menu ul li a{
	transition:all .6s ease;
}

#set_menu ul li.active a{
	color: rgba(0,0,0,.9);
    background: #f5f5f5;
    border-left: 3px solid #161616;
}

#set_menu ul li a:hover{
	background:#f5f5f5;
	border-left: 3px solid #161616;
}

#set_menu .dropdown-menu{
	border-radius: 0;
    top: 96%;
}

#set_menu .dropdown-menu a{
	font-size:15px;
	padding:3px 10px;
}

#set_menu .dropdown-menu a:hover {
    border-left: 3px solid #161616;
    color: #fff;
}

.wiz-head-navs{
	background:#ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cart a i {
    position: relative;
    font-size: 22px;
}

.cart span.badge {
    font-size: 10px;
    font-weight: bold;
    background: #e00606;
    border-radius: 20px;
    width: 15px;
    position: absolute;
    top: -5px;
    height: 15px;
    text-align: center;
    left: 14px;
    padding: 2px;
}

button.navbar-toggler.navbar-toggler-right {
    position: absolute;
    top: -110px;
    z-index: 99;
    padding: 0;
    border: transparent;
}

.top-bar a{
        color: #fff;
    }

@media (max-width:768px){
	#set_menu{
		width:100%;
	}
}

/*=================special================*/

.special h3, .new-arrival h3, .top-selling h3, .why-us h3, .blog-section h3 {
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 2px;
    color: #000;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.special h3 span, .new-arrival h3 span, .top-selling h3 span, .why-us h3 span, .blog-section h3 span{
    font-weight: 700;
}

.new-arrival .ser-t span{
    background:#fdfdfd;
}

.ser-t {
    text-align: center;
    margin: 0 auto;
    width: 20%;
    position: relative;
}

.ser-t b {
    width: 100%;
    height: 2px;
    display: block;
    margin-bottom: 3px;
}
section.special.py-4.Feac_pdct .ser-t span,section.special.py-4.latest_offers .ser-t span,section.special.py-4.latest_Product .ser-t span{
  background: none;
}
.ser-t span {
    width: 40px;
    height: 40px;
    display: block;
    background: none;
    position: absolute;
    top: -7px;
    left: 42%;
}

.ser-t b.line {
    width: 80%;
    margin: 0 auto;
}
.blog-section.py-5 .ser-t span,.why-us.py-5 .ser-t span{
	background:none;
}
.ser-t span i {
    width: 20px;
    height: 20px;
    display: block;
    transform: rotate(45deg) translate3d(0, 0, 0);
    margin-left: 0.7em;
}

.special-grid figure {
    position: relative;
    overflow: hidden;
    background: #fff;
    text-align: center;
}

.special-grid figure img {
    position: relative;
    display: block;
    opacity: 0.8;
}

.special-grid figure.effect-roxy img {
    max-width: none;
    width: calc(100% + 60px);
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-50px,0,0);
}

figure.effect-roxy figcaption {
    padding: 3em;
    text-align: right;
    border: 13px solid rgba(255, 255, 255, 0.40);
}

.special-grid figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.special-grid figure figcaption {
    padding: 2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-roxy figcaption::before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 4px solid #fff;
    content: '';
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-20px,0,0);
    background: rgba(255, 255, 255, 0.36);
}

.special-grid figure figcaption::before, .grid figure figcaption::after {
    pointer-events: none;
}

.special-grid figure h3 {
    word-spacing: -0.15em;
    font-weight: 700;
    text-align: right;
    margin-right: 6px;
    margin-bottom: 0;
    color: #000;
    font-size: 20px;
    padding: 5px 5px;
    position:relative;
}

.special-grid figure h3 span {
    font-weight: 800;
    color: #e71f30;
}

.special-grid h4 {
    color: #000;
    padding: 10px;
    margin-top: -16px;
}

figure.effect-roxy p {
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-10px,0,0);
}

.special-grid figure p {
    letter-spacing: 2px;
    color: #fff;
    line-height: 18px;
    font-size: 14px;
    font-weight: normal;
}

figure.effect-roxy:hover img{
    opacity: 0.7;
    transform: translate3d(0,0,0);
}

figure.effect-roxy:hover figcaption::before, figure.effect-roxy:hover p{
    opacity: 1;
    transform: translate3d(0,0,0);
}

/*==============new arrival=============*/
.bg-gray{
    background:rgba(247, 247, 247, 0.22);
}

.product-men{
    margin-top: 2em;
}

.men-pro-item {
    position: relative;
    box-shadow: 0px 16px 7px -12px #D6D6D6;
    background: #fff;
    border: 2px solid #f5f5f5;
}

.men-thumb-item {
    position: relative;
}

.men-thumb-item::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0;
    z-index: 9;
    visibility: hidden;
    transition: all 0.5s ease-out 0s;
}

.men-thumb-item .pro-image-front {
    opacity: 1;
    visibility: visible;
}

.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
}

.product-men img {
    width: 100%;
}

.men-cart-pro {
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-out 0s;
    visibility: hidden;
    z-index: 10;
}

.inner-men-cart-pro {
    height: 100%;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    bottom: -40px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}

.link-product-add-cart {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all 0.5s ease-out 0s;
}

.link-product-add-cart:hover{
    color:#fff;
    background:#000;
    font-weight:100;
    text-decoration:none;
}

.product-new-top {
    color: #fff;
    display: inline-block;
    left: 0;
    padding: 0 10px 1px;
    position: absolute;
    top: 0;
    background-color: #ff0000;
    z-index: 99;
}

.item-info-product {
    text-align: center;
    margin: 0 0 0;
    background:#fdfdfd;
    padding-top:15px;
}

.item-info-product h4 a {
    font-size: 0.9em;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.info-product-price {
    margin: 10px 0;
}

.info-product-price span {
    color: #000;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}

.info-product-price del {
    color: #908e8e;
    margin-left: 10px;
    letter-spacing: 1px;
}

.snipcart-details {
    text-align: center;
    margin: 0.5em auto 1em;
    width: 77%;
}

.hvr-outline-out {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #333;
}

.hvr-outline-out:before {
    content: '';
    position: absolute;
    border: #333 solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
    transition-property: top, right, bottom, left;
}

.men-thumb-item:hover {
    cursor: pointer;
}

.men-thumb-item:hover::before {
    opacity: 1;
    visibility: visible;
}

.men-thumb-item:hover .pro-image-front {
    transform: rotateY(-360deg);
    opacity: 1;
    visibility: visible;
    filter:grayscale(1);
}

.men-thumb-item:hover .men-cart-pro {
    opacity: 1;
    visibility: visible;
}

.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 83.5%;
}


.snipcart-details input.button {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    padding: .5em 0;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
}

.hvr-outline-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding: 5px;
}

.hvr-outline-out a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    position:relative;
}

.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}

.hvr-outline-out:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
    transition-property: top, right, bottom, left;
}

.special-grid {
    position: relative;
    margin-bottom: 30px;
}

.special-grid span img {
    position: absolute;
    bottom: -28px;
    z-index: 9;
    width: 125px;
    right: -5px;
}


/*============newsletter===========*/

.newsletter{
    background-size:cover;
    color:#fff;
    font-size:20px;
    background-attachment:fixed;
}

.newsletter p{
    letter-spacing:2px;
}

.newsletter .news-overlay{
    background:rgba(0,0,0,.5);
}

.newsletter h3{
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.newsletter h3 span{
    font-weight: 300;
}

.news-btn {
  border: 3px solid #fff;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 16px;
  transition: all linear .6s;
  font-weight: 600;
  letter-spacing: 1px;
}
.news-btn:hover{
	background:#fff;
}

/*=================why us====================*/

.highlights .about-overlay-under {
    margin-right: 20px;
    transform: rotate(7.5deg);
    transition: all 0.3s ease-in-out;
}

.highlights .about-overlay-under, .highlights .about-overlay-above {
    height: 55px;
    width: 55px;
    display: block;
    float: left;
}

.highlights .about-overlay-above {
    border: 4px solid #151414;
    transform: rotate(7.5deg);
}

.highlights .about-overlay-under, .highlights .about-overlay-above {
    height: 55px;
    width: 55px;
    display: block;
    float: left;
}

.highlights .about-overlay-above i {
    font-size: 24px;
    line-height: 46px;
    display: block;
    cursor: default;
    transform: rotate(-15deg);
    transition: all 0.3s ease-in-out;
}

.highlights h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size:18px;
    font-family: "PT Sans";
}

.highlights h6 span {
    clear: right;
    display: block;
    text-transform: uppercase;
}

span.highlights-first {
    margin-bottom: 6px;
}

.highlights:hover .about-overlay-under {
    transition: all 0.3s ease-in-out;
    border: 4px solid #151414;
}

.highlights:hover .about-overlay-above {
    transition: all 0.3s ease-in-out;
}

/*================wiz-footer================*/

.wiz-footer {
    background: #1b1b1b;
    color:#fff;
    font-size:16px;
    line-height:28px;
    font-family:"Raleway";
}

.wiz-footer h3{
    font:500 18px 'Raleway';
    text-transform:uppercase;
}

.footer-section a{
    color:rgba(255,255,255,.7);
    transition:all linear .6s;
}

.footer-section a:hover{
    text-decoration:none;
}

.footer-section i{
    margin-right:10px;
}

.footer-section .bg{
    background:rgba(255,255,255,.1);
    padding:8px;
}

.copyright{
    background: #191b02;
    color:#fff;
    font-size:14px;
}

.copyright a{
    font-weight:bold;
    font-size:15px;
}

.footer-section ul {
    padding: 0 20px;
    list-style:none;
}

.footer-section li::before {
    content: "\f101";
    font-family: FontAwesome;
    position: absolute;
    left: 15px;
    color: #fff;
}

/*======quick view=======*/

#quickview .modal-header{
    color: #fff;
    text-transform: uppercase;
}

#quickview .modal-header .modal-title{
    font-weight:700;
    font-family:"Raleway";
}

.available{
    color:#ccc;
}

.available span{
    color:#fc636b;
}

.price{
    color:#fc636b;
    font-weight:bold;
    font-size:20px;
}

.delete-price{
    color:#999;
}

#quickview .modal-body h4 {
    font-weight: bold;
    margin-bottom: 15px;
}

#quickview .modal-body h6{
    font-family:"Raleway";
    font-weight:bold;
    color:#999;
    font-size:16px;
}

.b-a{
    border:1px solid #f1f1f1;
}

.bb-0{
    border-bottom:1px solid #fff;
}

#adv-custom-pager a img{
    border-right:1px solid #f1f1f1;
}

#quickview .modal-content{
    border: 15px solid rgba(255,255,255,.7);
    border-radius: 0;
}

/*============products=======*/

.products .title-bar {
    background: #424242;
    color: #fff;
}

.categories h5, .discounts h5, .best-seller h5 {
    text-transform: uppercase;
    margin: 0 0 10px 0;
    font-family: "Raleway";
    font-weight: 600;
}

.categories h5::before, .discounts h5::before, .best-seller h5::before {
    content: "\f068";
    font-family: FontAwesome;
    padding: 0px 5px;
    font-weight: 300 !important;
    margin-right: 1px;
}

.categories, .discounts, .best-seller{
    border-top:1px solid #ccc;
    padding:10px 0;
}

.categories ul{
    padding:0;
    list-style:none;
}

.categories li{
    background: #f9f9f9;
    padding: 5px 10px;
    margin: 5px 0;
    text-transform:capitalize;
    position:relative;
}

.categories li::before {
    content: "";
    background: #989898;
    width: 0px;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition:height linear .6s;
}

.categories li:hover::before{
    width: 3px;
    height:36px;
}

.categories li a {
    color: #424242;
    font-family: "Raleway";
    font-weight: 600;
    transition:all linear .6s;
}

.categories li a:hover {
    color: #989898;
}

.discounts a{
    display:block;
    color:#424242;
    padding: 5px 10px;
    text-transform:capitalize;
    transition:all linear .6s;
}

.discounts a:hover{
    color:#989898;
}

.discounts a span{
    color:#ccc;
    float:right;
}

.best-s{
    background:#f9f9f9;
    padding:10px 0;
}

.best-s a{
    color:#424242;
}

.sorting{
    border:1px solid #f1f1f1;
}

.sorting select{
    border-radius:0px;
    border:1px solid transparent;
}

.sorting select:focus{
    border:1px solid transparent;
}

.cart-page h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Raleway";
    margin: 0;
    font-size: 24px;
}

.cart-header{
    position:relative;
}

.close{
    cursor: pointer;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #fc636b;
    opacity: 1;
    text-align:center;
    transition: color 0.2s ease-in-out;
    color:#fff;
    font-size: 16px;
    padding: 5px;
    z-index:9;
}

.cart-sec {
    background: rgba(238, 238, 238, 0.34);
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid #fc636b !important;
    border: 1px solid #ccc;
}

.stock {
    font-weight: bold;
    font-size: 18px;
}

.cart-page h4{
    font-weight: 600;
    font-family: "Raleway";
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 24px;
}

.price-details {
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.price-details h3 {
    color: #333;
    font-size: 1em;
    margin-bottom: 1em;
}

.price-details span {
    width: 50%;
    float: left;
    padding: 1px 0;
}

span.total {
    width: 50%;
    float: left;
}

h4.last-price {
    color: #000;
    font-size: 1.3em;
    font-weight: 600;
    width: 50%;
    float: left;
    padding-top: 10px;
}

span.final {
    font-weight: 600;
    padding-top: 6px;
    font-size: 1.3em;
}

a.order {
    background: #333;
    padding: 10px 1.5em;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin: 1em auto 0 auto;
}

.total-item {
    margin-top: 2em;
    padding-bottom: 2em;
}

.total-item h3 {
    color: #333;
    font-size: 1em;
    margin-bottom: 1em;
}

.total-item h4 {
    font-size: 0.8em;
    font-weight: 600;
    color: #9C9C9C;
    display: inline-block;
    margin-right: 6em;
}
a.cpns {
    background: #8E8E8E;
    color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 10px;
    font-size: 0.8em;
    font-weight: 600;
}

/*==========blog============*/

.wiz-blog-img{
    position:relative;
	padding:0;
}

.wiz-single-post-date {
    position: absolute;
    top: 0;
    left: 20px;
}

.wiz-single-post-date .day {
    padding: 10px 30px;
    margin-right: -4px;
    font-weight: bold;
    font-size: 30px;
}

.wiz-single-post-date .month {
    padding: 10px 30px;
    margin-right: -4px;
    font-weight: bold;
    font-size: 30px;
    color:#fff;
}

.wiz-post-date{
    float: left;
    margin-right: 10px;
    text-align: center;
}

.wiz-post-date .day{
    background: none;
    border-radius: 2px 2px 0 0;
    display: block;
    font-size: 18px;
    font-weight: 900;
    padding: 10px;
}

.wiz-post-date .month{
    display: block;
    color: #FFF;
    font-size: 0.8em;
    line-height: 1.8;
    padding: 1px 10px;
    text-transform: uppercase;
}

.wiz-post-content h3 a {
    font-size: 25px;
    word-break: break-word;
    font-weight: 600;
}

.wiz-post-content p,
.wiz-post-content p, .wiz-blog p,.wiz-content table,.wiz-content dl, .wiz-content ul,.wiz-content li,address,pre{
  color: #000;
  word-break: break-word;
  line-height: 28px;
  font-size: 16px;
}
.wiz-content code{
	font-family: sans-serif;
	word-break: break-word;
}
.wiz-post-meta i {
    color: #444;
    font-size: 13px;
    margin: 0 2px 0 10px;
}

.btn-read {
    border-color: #d9d9d9 #d9d9d9 #bfbfbf;
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
    font-weight: 500;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.p-rel,
ul.side-bar-box li a,
.wiz-comments li ul li .comment-box{
    position:relative;
}

.btn-grey-search{
    background: #424242;
    color: #fff;
    border-radius: 0px 4px 4px 0px;
}

.font-weight-bold {
    font-weight: 700 !important;
}

ul.side-bar-box li a:before {
    font-family: 'FontAwesome';
    content: "\f054";
    font-weight: 900;
    position: absolute;
    top: 8px;
    font-size: 7.2px;
    font-size: 0.45rem;
    opacity: 0.7;
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
    left: 12px;
}

ul.side-bar-box li ul {
    list-style: none;
    margin: 0 0 0 25px;
    padding: 0;
}

ul.side-bar-box li a{
    color: #666;
    font-size: 0.9em;
    padding: 8px 0 8px 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.simple-post-list li{
    border-bottom:1px dotted #ccc;
}

.simple-post-list li:last-child{
    border-bottom:none;
}

#tab-box .tab-pane{
    border:1px solid #f1f1f1;
    padding-bottom:0 !important;
    border-radius:0px 4px 4px 4px;
}

#tab-box li.nav-item a {
    margin-bottom: 0px;
    border: 1px solid #f1f1f1;
    border-bottom: none;
    margin-right: 3px;
    border-top: 3px solid #333;
    border-radius: 4px 4px 0px 0px;
    color: #4e4e4e;
    font-weight: 600;
    position:relative;
    background:#f1f1f1;
}

#tab-box li.nav-item a[aria-selected="true"]{
    background:#fff;
}

#tab-box li.nav-item a::after {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    content: "";
    z-index: 1;
    background: #fff;
}

.ser-t b{
    background: #333;
}

.ser-t span i{
    border: 2px solid #333;
}

/*blog single*/

.comment-box {
    margin-bottom:30px;
    clear: both;
}

.bg-transparent{
    background:none;
}

ul.wiz-comments li .img-thumbnail {
    position: absolute;
    margin-right:30px;
    z-index:2;
}

.comment-block,
ul.wiz-comments li ul{
    margin-left: 0px;
}

.comment-block p {
    font-size: 14px;
    line-height: 24px;
}

.comment-block a {
    font-size:14px;
}

.wiz-comments li ul li .comment-box::before {
    content: "";
    position: absolute;
    top: 54%;
    left: -7%;
    z-index: 1;
    width: 50px;
    height: 1px;
    background: #ddd;
}

.wiz-comments li ul li .comment-box::after{
    content: "";
    position: absolute;
    top: -70%;
    left: -7%;
    width: 1px;
    height: 125%;
    background: #ddd;
}

.wiz-reply input, .wiz-reply textarea {
    border-radius: 0;
    font-size: 13px;
    color: #999;
    height: 45px;
}

.wiz-reply textarea{
    height:100px;
}

.wiz-reply input::placeholder,
.wiz-reply textarea::placeholder{
    color:#999;
}

.wiz-reply .btn-green,
.btn-green{
    color: #fff;
    border-radius: 0;
    padding: 12px 25px;
    transition:all linear .4s;
}

.title-bar {
    background-size: cover !important;
    background-position: center !important;
    padding: 50px 0;
    position:relative;
}

.title-bar::before {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
}

.breadcrumb {
    font-size: 17px;
    font-weight: 500;
}

.breadcrumb .active {
    color: #fff;
}

.title-bar h2 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
}

/*404 page error*/

.sad i {
    font-weight: 400;
    font-size: 10vw;
}

.sad h1 {
    font-size: 75px;
    font-weight: bold;
    letter-spacing: 2px;
}

/*rating*/

.total-rate {
    background: #28bd28;
    color: #fff;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 8px;
}

img.customer-img {
    max-width: 25px;
    background: #ccc;
    border-radius: 50px;
    height: 25px;
    margin: 0 5px;
    border: 1px solid #999;
    vertical-align: bottom;
}

.review-box {
    padding: 20px 0;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
}

.star-title i{
    color:orange;
}

#wiz_ecommerce-slider .carousel-caption {
    bottom: 30% !important;
    background: rgba(222, 219, 208, 0.46);
    padding: 20px;
    border: 3px solid #fff;

}

#wiz_ecommerce-slider h3 {
    font-weight: bold;
    font-size: 32px;
    color: #000;
}

#wiz_ecommerce-slider p {
    font-size: 20px;
    color: #000;
}

#wiz_ecommerce-slider .btn-slide {
    color: #fff;
    border-radius: 0;
    font-weight: 500;
}

/*home-blog*/
.blog-box{
    border:1px solid #ddd;
}

.blog-box-img{
    max-height:220px;
    overflow:hidden;
    background-position:center !important;
    background-size:cover !important;
    position:relative;
}

.category-name {
    background: #5979a2;
    padding: 0 12px;
    text-transform: capitalize;
}

.category-name a {
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
    display: inline-block;
}

.blog-box-content{
    position:relative;
}

.blog-box-content p{
    margin:0;
	  word-break: break-word;
}

.blog-box-content a h4 {
    color: #000;
    font-size: 22px;
    line-height: 28px;
}

a.btn-more {
    position: fixed;
    right: 20px;
    padding: 5px 12px;
    background: #000;
    color: #fff;
    transition:all linear .4s;
	bottom:20px;
}

a.btn-more:hover{
    background:#666;
}

.blog-box-content {
    position: relative;
    padding-bottom: 36px !important;
    background:rgba(255, 255, 255, 0.98);
}

.cart {
    padding: 6px 10px;
}

.sticky-head {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 300;
    border-top: 0;
    background:#f9f9f9;
    box-shadow:0px 0px 5px #999;
}

.cart a i {
    position: relative;
    font-size: 22px;
}

.cart span.badge {
    font-size: 10px;
    font-weight: bold;
    border-radius: 20px;
    width: 15px;
    position: absolute;
    top: 0px;
    height: 15px;
    text-align: center;
    right: 0;
    padding: 2px;
}

.pos-r{
    position:relative;
}

.attr-nav .dropdown-menu {
    left: -210px;
    border-radius: 0;
    padding: 0;
    width: 250px;
}

.attr-nav .dropdown-menu:before {
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    content: "";
    height: 0;
    position: absolute;
    top: -9px;
    right: 12px;
    width: 0;
    box-shadow: 1px 1px 1px solid;
}
.attr-nav .dropdown-toggle::after{
    display:none;
}

.attr-nav .dropdown-menu li{
    padding:10px;
    border-bottom:1px solid #ddd;
}

.cart-list h6 a {
    color: #484848;
}

li.total {
    background: #f1f1f1;
}

.btn-cart {
    background: #333;
    color: #fff;
    padding: 5px 15px;
}

a.photo {
    width: 50px;
    float: left;
    height: 50px;
    margin-right: 10px;
    background-size: cover !important;
}
.cart span.badge {
  background-color: #fff;
  line-height: 14px;
  top: -7px;
}
.sticky-head .cart span.badge {
    background-color: #eae9e9;
}
.wiz-cart-nav:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.wiz-cart-nav .widget {
    border: 0px;
    border-radius: 0;
}
.cart .list-unstyled {
    margin: 0;
}
.blog-pagination a,
.wiz-pagination a{
    color: #fff;
    padding: 5px 10px;
}
.blog-pagination a:hover,
.wiz-pagination a:hover,
.wiz-pagination a:focus{
    background-color:#ffffff;
}
.author-img img {
    width: 100%;
    height: auto;
}
.wiz-store-nav ul li {
    list-style: none;
    display: inline;
    padding: 10px 5px;
    position: relative;
}


.scrolltop {
    display:none;
    width:100%;
    margin:0 auto;
    position:fixed;
    bottom:20px;
    right:10px;
}

.scroll {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 10px 5px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.scroll:hover {
    background:rgba(178,178,178,1.0);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.scroll:hover .fa {
    padding-top:-10px;
}

.scroll .fa {
    font-size:30px;
    margin-top:-5px;
    margin-left:1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.wiz-blog-img img{
    width: 100%;
}
.modal-header .product_title {
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}
.wiz-content .wp-block-code code {
    font-size: 14px;
    color: #e83e8c;
}
.wp-block-preformatted {
    font-size: 14px;
}
#tab-list .nav-link.active,
#tab-list .nav-link:hover{
    background: #fff;
}

#tab-list .nav-link {
    border-width: 3px 1px 1px;
    margin-right: 3px;
    color: #000;
    font-weight: 600;
	background:none;
}

#collapse-tab-list a{
	color:#666;
}

#collapse-tab-list .fw-previous-tab-pane,
#tab-contents .tab-pane{
	padding:10px;
}
.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
    width: 100%;
    float: left;
    padding: 0px 15px;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    border: 1px solid #ccc;
    height: 35px;
    border-radius: 4px;
    padding-left: 5px;
    clear: both;
}
header.woocommerce-Address-title.title {
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
}
label.woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme{
    width: 100%;
}
.woocommerce-MyAccount-content .col2-set .col-1,
.woocommerce-MyAccount-content .col2-set .col-2 {
    max-width: 50% !important;
}
.blog-pagination a, .wiz-pagination a {
    margin-bottom: 10px;
    display: block;
    text-align: center;
}
@media screen and (max-width: 480px) {
    .woocommerce-MyAccount-content .col2-set .col-1,
    .woocommerce-MyAccount-content .col2-set .col-2 {
        max-width: 100% !important;
    }
    .wiz-pagination div {
    float: none !important;
    margin: 0 auto;
    text-align: center;
}
#wiz-navigation ul{
  max-height: 350px;
  overflow-y: auto;
}
}
.wiz-main-div .woocommerce-loop-category__title {
    position: absolute;
    left: 0;
    bottom: 30px;
    text-align: center;
    right: 0;
	background-color: #00000030;
	color: #fff;
}
.wiz-main-div .woocommerce-loop-category__title .count{
	background-color: transparent;
	color: #fff;
}
/**Navbar css**/

#wiz-navigation ul{
	box-shadow: none;
	border: 0px;
}
li .has-submenu::after {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: 6px;
    float: right;
    background: #fff;
    color: #000;
    padding: 2px 4px;
}
#wiz-navigation ul li a:hover, #wiz-navigation ul li a.highlighted {
  background: none;
}
#wiz-navigation ul li .sub-menu{
	  border: 1px solid #dadada;
}
#wiz-navigation ul li .sub-menu .sm-nowrap {
	margin-left:159px !important;
	margin-top: -40px !important;
	border: 1px solid #dadada;
}
#wiz-navigation ul li {
  border-left: 0px ;
}
#wiz-navigation ul li:first-child{
	border-left:0px;
}
.quantity-button.quantity-down {
  position: absolute;
  top: 0px;
  height: 82%;
  line-height: 35px;
  border-right: 1px solid #eee;
  left: 20px;
}
.quantity-button.quantity-up {
  position: absolute;
  height: 82%;
  top: 0px;
  left: 75px;
  line-height: 35px;
  border-bottom: 0px solid #eee;
}
/*Responsive Css*/

@media screen and (min-width:1024px) {
	.navigation .navbar-toggler{
	display:none;
}
#wiz-navigation li a {
  padding: 11px 20px;
  font-size: 15px;
  text-transform: initial;
  text-transform: uppercase;
  font-weight: 500;
  color:#000;
}
#wiz-navigation li .sub-menu li a{
	text-transform: uppercase;
	font-size:14px;
}
.navbar-collapse{
	display:block;
}
.sm-simple ul a span.sub-arrow, .sm-simple-vertical a span.sub-arrow {
  right: 5px;
  margin-left: -14px;
}
.product-quantity .quantity-nav {
  float: inherit;
  position: relative;
  height: 42px;
}
.summary.entry-summary .cart .quantity-nav{
	float:left;
	margin-left: 20px;
}
.woocommerce .product-quantity .quantity .qty {
  float: left;
}
}
@media screen and (min-width:768px) {
.navigation .navbar-toggler{
	display:none;
}
.navbar-collapse{
	display:block;
}
#wiz-navigation li a {
  padding: 10px 14px;
  font-size:13px;
}
.sm-simple a span.sub-arrow{
	right: -1px;
	margin-top: -10px;
}
.sm-simple ul a span.sub-arrow, .sm-simple-vertical a span.sub-arrow {
  right: 5px;
  margin-left: -14px;
}
.ser-t{
	width:20%;
}
.quantity {
  height: 40px;
}
.quantity-nav {
  float: right;
  margin-right: -20px;
}
.quantity-button.quantity-up {
  height: 85%;
  left: 68px;
}
.woocommerce-cart-form__cart-item .quantity-button.quantity-down {
  right: 30px;
}
.woocommerce-cart-form__cart-item .quantity-button.quantity-up {
  height: 85%;
  right: -20px;
}
}
@media screen and (max-width:567px) {
.navbar-toggler {
    border: 1px solid;
    float: right;
    padding: 20px 24px;
    margin: 5px;
    position: absolute;
    top: 10px;
    right: 15px;
}
.special h3, .new-arrival h3, .top-selling h3, .why-us h3, .blog-section h3{
	font-size:28px;
}
.brand a h3 {
    font-size: 24px;
}
.wiz-store-nav ul#menu-top-menu {
    padding: 0;
	float:left;
}
.brand.py-2 {
    float: left;
}
section.why-us .container,section.special .container, section.blog-section .container {
  padding: 5px 10px;
}
.blog-box{
	background:#fff;
}
.newsletter p {
  letter-spacing: 1px;
  font-size: 16px;
}
.navbar-collapse{
	width:100%;
	}
.newsletter h3{
	font-size:28px;
}
#wiz-navigation ul li {
  display: block;
  width: 100%;
}
#wiz-navigation ul li a{
	background: #446084 !important;
	color: #fff;
}
.navigation .container {
  max-width: 100%;
  padding: 0;
}
.navigation{
	padding:0;
}
#wiz-navigation ul li .sub-menu .sm-nowrap {
  margin-left: 20px !important;
}
.navbar-toggler-icon, .navbar-toggler-icon:before, .navbar-toggler-icon:after {
  position: absolute;
  top: 20px;
  right: 11px;
  height: 2px;
  width: 24px;
  background: #000;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.navbar-toggler-icon:before {
  content: '';
  top: -7px;
  left: 0;
}
.navbar-toggler-icon:after {
  content: '';
  top: 7px;
  left: 0;
}
#wiz-navigation li a {
  padding: 10px 20px;
}
.owl-nav {
  display: none;
}
.entry-title.col-sm-12 h1 {
  font-size: 24px;
}
.wiz-post-content p, .wiz-post-content p, .wiz-blog p{
	font-size:14px;
}
div#post-1148 .wiz-blog-content {
  padding: 15px 0;
}
.wiz-post-meta.ml-5 h1 {
  font-size: 28px;
  margin-bottom: 15px;
}
.wiz-post-meta span {
  font-size: 14px;
}
.wiz-post-content p, .wiz-post-content p, .wiz-blog p, .wiz-content table, .wiz-content dl, .wiz-content ul, .wiz-content li, address, pre,dl,ul,li{
	font-size:14px;
}
ul.wiz-comments li .img-thumbnail {
  position: inherit;
  margin-right: 0;
  z-index: 2;
  border: none;
}
.comment-block, ul.wiz-comments li ul {
  margin-left: 0;
  list-style: initial;
}
.wiz-blog-content .wiz-post-meta {
  margin-left: -55px;
}
.wiz-comment {
  padding: 10px;
}
.comment-block table tr.even td {
  background: #f7f7fe;
  border: .5px solid #dcdbdb;
  font-size: 12px;
  display: table-cell;
}
.comment-block table tr.odd td {
  background: #fff;
  border: .5px solid #dcdbdb;
  font-size: 12px;
  display: table-cell;
}
.comment-block h2 {
  font-size: 26px;
  margin: 10px 0;
}
.comment-block a.comment-reply-link {
  padding: 5px;
  background: #000;
  color: #fff;
}
ul.children {
  padding: 0;
}
.comment-respond {
  padding: 10px;
}
.products .comment-block table {
    border-collapse: collapse;
    max-width: 100%;
    display: inline-block;
    overflow-x: auto;
}
ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li {
  padding: 5px 5px;
  margin: 0;
  display: block;
  width: 100%;
  border-right:0px;
}
.quantity {
  height: 40px;
}
.woocommerce .product-quantity .quantity .qty {
  margin-left: 25px;
  float: right;
}
.quantity-nav {
  float: right;
  position: relative;
  height: 40px;
  margin-right: 0;
}
.summary.entry-summary .cart .quantity-nav {
  position: relative;
  height: 40px;
  margin-right: 0;
  float: none;
}
.quantity-button.quantity-up {
  left: 92px;
  height: 85%;
}
nav {
  float: none;
}
.summary.entry-summary .quantity-button.quantity-up {
  left: 68px;
}
.summary.entry-summary .quantity-button.quantity-down {
   left: 20px;
}
.quantity-button.quantity-down{
	left:45px;
}
.modal-body .quantity-button.quantity-down {
  left: 20px;
}
.modal-body .quantity-button.quantity-up {
  left: 70px;
}
span.woocommerce-input-wrapper textarea.input-text {
    height: 50px;
}
}
@media screen and (max-width:320px) {
	.brand a h3{
	font-size: 24px;
  }
  .tagline {
	font-size: 14px;
	letter-spacing: 0px;
  }
  .brand .logo-wrapper {
  float: left;
  }
  .navigation .navbar-toggler{
  top:-100px;
  border: 0px solid;
  }
  .wiz-head .pull-right {
  float: none;
 }
.woocommerce .products ul, .woocommerce ul.products {
  margin: 1em 0 0 1em;
  }
  #wiz_ecommerce-slider .carousel-caption{
  top:15%
  }
  #wiz_ecommerce-slider h3 a{
  font-size:14px;
  }
  .special h3, .new-arrival h3, .top-selling h3, .why-us h3, .blog-section h3 {
  font-size: 22px;
  letter-spacing: 1px;
 }
 section.why-us .container,section.special.py-4 .container,section.blog-section.py-5 .container{
 padding:0px 10px;
 }
 .special.py-4 .ser-t ,.blog-section.py-5 .ser-t{
  width: 70%;
}
.woocommerce .item-info-product a.button, .snipcart-details a.button{
	letter-spacing:1px;
	font-weight: 500;
}
.owl-carousel .owl-stage-outer{
	margin-left:15px;
}
.blog-box{
	background:#fff;
}
.newsletter h3 {
  font-size: 28px;
  letter-spacing: 1px;
}
.newsletter p {
  letter-spacing: 1px;
  font-size: 15px;
}
.quantity {
  height: 40px;
}
.woocommerce .quantity .qty{
	margin-left:50px;
}
.woocommerce #content table.cart td.actions .coupon .button, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon input, .woocommerce table.cart td.actions .coupon .button, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon input, .woocommerce-page #content table.cart td.actions .coupon .button, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon input, .woocommerce-page table.cart td.actions .coupon .button, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon input{
	width:100%;
	margin: 5px 0;
}
.breadcrumb a, .breadcrumb-item+.breadcrumb-item::before {
  color: #fff !important;
}
.woocommerce .products ul, .woocommerce ul.products{
	font-size:13px;
}
.woocommerce div.product .product_title{
	font-size:28px;
	font-weight:600;
}
.product .related.products h2{
	font-size:24px;
}
.men-pro-item .item-info-product{
	font-size:18px;
}
.collapse.show .row h2{
	font-size:18px;
	font-weight:600;
}
.collapse.show .row p{
	font-size:14px;
}
.item-info-product  h4{
	font-size:20px;

}
.comment-respond p.comment-notes {
  text-align: -webkit-center;
  padding: 0 8px;
}
.wiz-content nav.woocommerce-MyAccount-navigation li {
  font-size: 14px;
}
/*my account page css*/
.woocommerce .woocommerce-MyAccount-navigation ul li{
	display:-webkit-box;
	border-radius:0px;
	text-align:left;
}
.wiz-blog-content {
  padding: 10px;
}
.wiz-reply .btn-green, .btn-green{
	width:100%;
}
.woocommerce-MyAccount-navigation ul li.is-active, .woocommerce-MyAccount-navigation ul li:hover {
  font-weight: 600;
}
div#post-1148 .wiz-blog-content {
  padding: 15px 0;
}
.wiz-post-meta.ml-5 h1 {
  font-size: 28px;
  margin-bottom: 15px;
}
.wiz-post-meta span {
  display: block;
  font-size: 14px;
}
.wiz-post-content p, .wiz-post-content p, .wiz-blog p, .wiz-content table, .wiz-content dl, .wiz-content ul, .wiz-content li, address, pre,dl,ul,li{
	font-size:14px;
}
ul.wiz-comments li .img-thumbnail {
  position: inherit;
  margin-right: 0;
  z-index: 2;
  border: none;
}
.comment-block, ul.wiz-comments li ul {
  margin-left: 0;
  list-style: initial;
}
.wiz-blog-content .wiz-post-meta {
  margin-left: -55px;
}
.wiz-comment {
  padding: 10px;
}
.comment-block table tr.even td {
  background: #f7f7fe;
  border: .5px solid #dcdbdb;
  font-size: 12px;
  display: table-cell;
}
.comment-block table tr.odd td {
  background: #fff;
  border: .5px solid #dcdbdb;
  font-size: 12px;
  display: table-cell;
}
.comment-block h2 {
  font-size: 26px;
  margin: 10px 0;
}
.comment-block a.comment-reply-link {
  padding: 5px;
  background: #000;
  color: #fff;
}
ul.children {
  padding: 0;
}
.comment-respond {
  padding: 10px;
}
.products .comment-block table {
    border-collapse: collapse;
    max-width: 100%;
    display: inline-block;
    overflow-x: auto;
}
ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li {
  padding: 5px 5px;
  margin: 0;
  display: block;
  width: 100%;
  border-right:0px;
}
.summary.entry-summary .cart .quantity .qty{
	margin-left:0px;
	width:60px;
}
.summary.entry-summary .quantity-button.quantity-up {
  left: 60px;
}
.summary.entry-summary .quantity-button.quantity-down {
  left: 20px;
}

.quantity-nav {
  float: left;
}
.quantity-button.quantity-up {
  left: 113px;
  height: 85%;
}
.quantity-button.quantity-down {
  left:64px;
}
.woocommerce .product-quantity .quantity .qty {
  margin-left: 0;
  float: right;
}
.modal-body .quantity-button.quantity-down {
  left: 70px;
}
}
/*slider css*/
.owl-carousel.owl-loaded {
	display:;
}
.owl-stage-outer{
  overflow:hidden;
}
button.owl-next {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #000;
  font-size: 30px !important;
  background: #fff !important;
  width: 40px;
  height: 45px;
}
button.owl-prev {
  position: absolute;
  top: 10px;
  right: 60px;
  color: #000;
  font-size: 30px !important;
  background: #fff !important;
  width: 40px;
  height: 45px;
}

#wiz_ecommerce-slider .btn-slide {
  letter-spacing: 1px;
  font-weight: 600;
  margin-top:20px;
}
.woocommerce .item-info-product a.button, .snipcart-details a.button{
	color:#444;
}
.link-product-add-cart{
	background:#000 none repeat scroll 0 0;
}
.product-new-top,.blog-box-content .btn-more,{
	background:#446084;
}
.blog-box {
  min-height: 366px;
}
.widget .button.wc-forward {
  background-color: #446084 !important;
}
.widget .button.wc-forward:hover {
  background: #2a3b50 !important;
  color:#fff;
}
.blog-box .blog-box-content{
	  background: initial;
	  text-align:left;
}
.blog-box .category-name {
  display: none;
}
.blog-box-content a h4 {
  color: #446084 !important;
}
.ser-t b, .scroll {
  background: #2a3b50 !important;
  color: #fff;
}
.ser-t span i {
  border: 0px solid #446084 !important;
}
li .has-submenu::after{
	content:"\f107";
	font: normal normal normal 14px/1 FontAwesome;
	margin-left: 6px;
  float: right;
}
span.sub-arrow {
  display: none;
}
.special h3 span, .new-arrival h3 span, .top-selling h3 span, .why-us h3 span, .blog-section h3 span {
  color: #446084;
}
.woocommerce .item-info-product a.button, .snipcart-details a.button{
	letter-spacing:.5px;
}
figure.effect-roxy figcaption::before{
	background: rgba(12, 12, 12, 0.23);
}
.special.py-4:nth-child(odd){
	background:#F7F7FE;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background:#446084;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
	background-color: #2a3b50;
}
/*.woocommerce div.product form.cart div.quantity:before{
	content:"-";
	border: 1px solid #a2a2a2;
  padding: 8px 10px;
  margin-right: -5px;
  padding-top:8px;
  background:rgba(68, 96, 132, 0.18823529411764706);
}
.woocommerce div.product form.cart div.quantity:after{
	content:"+";
	border: 1px solid #a2a2a2;
  padding: 8px 10px;
  margin-left: -6px;
  padding-top:8px;
  background:rgba(68, 96, 132, 0.18823529411764706);
}*/
.woocommerce .quantity .qty{
	line-height:30px;
}
.woocommerce div.product form.cart div.quantity {
  margin: 0 10px 0 0;
  height:39px;
}
#tab-list .nav-link.active, #tab-list .nav-link:hover {
  background: #fff;
  border-top: 3px solid #446084;
}
.related.products h2 {
  font-weight: 600;
  margin: 15px 0px;
  text-transform: uppercase;
  font-size: 30px;
}
.tab-pane h2{
	font-size:24px;
}
.comment-form-rating span a {
  color: #446084;
}
.related.products ul .men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
  top: 76.5%;
}
span.posted_in a {
  color: #6186b5;
  text-decoration: underline;
}
.coupon .woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
  width: 130px;
}
.woocommerce-cart-form__cart-item.cart_item td.product-name a {
  color: #6186b5;
  font-size: 16px;
  font-weight: 600;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
background-color: #2a3b50;
color:#fff;
}
.btn-grey-search {
  background: #446084;
}
.ws-breadcrumbs .breadcrumb a, .breadcrumb-item+.breadcrumb-item::before {
  color: #fff;
  font-weight:700;
}
#quickview .modal-content {
  border: none ;
 margin-top:10%;
}
.modal-content h4.woocommerce-loop-product__title a {
  color: #446084;
}
#quickview .close {
  background-color: none!important;
  right: 5px;
  top: 0px;
}
.newsletter .news-overlay {
  background: rgba(94, 127, 167, 0.160);
}
.modal-open .modal{
	background:rgba(0, 0, 0, 0.4196078431372549);
}
.blog-box {
  position: relative;
  text-align: center;
  background: #fff;
 border:0px;
}
.ser-t span:nth-child(odd) {
  background: #f7f7fe;
}
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
max-height: 0;
display: block;
overflow: hidden;
opacity: 0;
}

.dropdown.open .dropdown-menu { /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
    max-height: 300px;
    opacity: 1;
}
.quantity {

position: relative;

}

input[type=number]::-webkit-inner-spin-button,

input[type=number]::-webkit-outer-spin-button

{

-webkit-appearance: none;

margin: 0;

}

input[type=number]

{

-moz-appearance: textfield;

}

.quantity input {

width: 45px;

height: 42px;

line-height: 1.65;

float: right;

display: block;

padding: 0;

margin: 0;

padding-left: 0px;

border: 1px solid #eee;

}

.quantity input:focus {

outline: 0;

}

.quantity-button {

position: relative;

cursor: pointer;

border-left: 1px solid #eee;

width: 20px;

text-align: center;

color: #333;

font-size: 13px;

font-family: "Trebuchet MS", Helvetica, sans-serif !important;

line-height: 1.7;

-webkit-transform: translateX(-100%);

transform: translateX(-100%);

-webkit-user-select: none;

-moz-user-select: none;

-ms-user-select: none;

-o-user-select: none;

user-select: none;

}
.woocommerce .quantity .qty {
  text-align: -webkit-center;
  }
 .copyright a {
  color: #6590c7;
}
figure.effect-roxy h3{
  transition: opacity 0.35s, transform 0.55s;
  transform: translate3d(-10px,0,0);
  text-align:center;
}
span.wiz-product-count {
  opacity: 0;
}
figure.effect-roxy:hover figcaption::before, figure.effect-roxy:hover h3,figure.effect-roxy:hover figcaption span.wiz-product-count{
  opacity: 1;
  transform: translate3d(0,0,0);
  margin: 0;
  text-align: right;
  color:#fff;
  padding-right: 0px;
}

.special-grid figure figcaption h3,.special-grid figure figcaption p  {
  max-width: 225px;
  margin: 0 auto;
  overflow: visible;
  overflow-wrap: break-word;
}
.wiz-post-meta {
  margin-bottom: 10px;
}
.wiz-main-div .wiz-blog{
  background: #fff;
  padding:0;
}
section.products_cat_wrpr .product_item_blog{
	background: #fff;
  box-shadow: 1px 1px 27px 1px #ccc;
}
.wiz-blog-content {
  padding: 20px;
  position: relative;
}
.comment-box, .widget{
	background:#fff;
}
.wiz-post-content .wiz-post-meta .btn-read {
  padding: 10px;
}
.wiz-blog-content .wiz-post-meta .btn-read:hover,
.wiz-blog-content .wiz-post-meta .btn-read:focus{
	background-color:#000;
	color:#fff;
}
.wiz-main-div hr{
	border:0px;
}
#main-content .navigation.pagination{
	background:none;
}
.wiz-content table {
  border-collapse: inherit;
}
.woocommerce ul.order_details {
  list-style: none;
  padding: 0;
}
.woocommerce-column.woocommerce-column--1.woocommerce-column--billing-address.col-1, .woocommerce-column.woocommerce-column--2.woocommerce-column--shipping-address.col-2 {
    max-width: 100%;
}
.woocommerce .woocommerce-customer-details :last-child, .woocommerce .woocommerce-order-details :last-child, .woocommerce .woocommerce-order-downloads :last-child {
  margin-bottom: 20px;
}
ul.wiz-comments li .img-thumbnail {
    position: inherit;
    margin-right: 10px;
    float: left;
}
input#wp-comment-cookies-consent {
    height: initial;
    margin-right: 5px;
}
.product_meta>span {
    display: block;
}
.wiz-main-div #primary {
  background: #fff;
  padding:20px;
  box-shadow: 1px 1px 27px 1px #ccc;
}
.woocommerce .quantity .qty{
	height:35px;
	width: 70px;
}
.single_prodct_wrpr,section.products_cat_wrpr {
  background: #f7f7fe;
}
.woocommerce #reviews #comments ol.commentlist{
	padding:0;
}
.entry-title .col-sm-12.wiz-content {
  padding: 0;
}
.product_item_blog h1 {
  margin-top: 20px;
}
.comment-respond p.comment-notes {
  padding-left: 15px;
}
.attr-nav.pos-r.pull-right.cart:hover .dropdown .dropdown-menu{
   opacity: 1;
   overflow: visible;
   margin-top:0;
}
.wiz-content .link-content {
    display: block;
    text-align: center;
    border: 1px solid rgba(170, 170, 170, 0.29);
    padding: 10px 0;
    border-radius: 5px;
	clear: both;
}
div#order_review table {
    font-size: 16px;
}
.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    font-weight: 100;
    border-top: 1px solid rgba(0,0,0,.1);
}
.product-name strong.product-quantity{
  font-weight: 100;
}
.woocommerce table.shop_table tr{
  position: relative;
}
#content {
    word-break: break-word;
    white-space: normal;
}
.wiz-blog-content blockquote {
    padding: 10px;
    background-color: rgba(204, 204, 204, 0.35);
    border-left: 2px solid #000;
}
.wiz-blog-content blockquote cite {
    text-align: right;
    margin-top: 20px;
    display: block;
}
.wiz-blog-content blockquote p {
  margin: 0;
}
.comment-post-time{
  font-size: 12px;
  font-style: italic;
}
.sticky {
background-color:#ededed;
border:1 px solid #f5f5f5;
color:#272727;
padding:5px;
}
.link-content a {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
    margin-right: 5px;
}
.link-content span, .link-content a:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 5px 10px;
    margin-right: 5px;
}
.inner-men-cart-pro a {
    font-size: 12px;
}

.carousel-control-next:focus,
.carousel-control-prev:focus{
  border: 1px dashed;
}
.wiz-ecommerce-cat-box a:focus,
.highlights a:focus,
.blog-box-content a:focus {
    display: inline-block;
    outline-style: dashed;
}
a.btn-more:focus{
  background-color: #000;
}
.news-btn:focus,
.news-btn:hover{
  background-color: #000;
  color: #fff;
}
input#wp-comment-cookies-consent {
    height: auto;
}
.blog-section{
  background-color: #efefef5c;
}
