/*
Theme Name: Prakashan
Theme URI: http://reduxthemes.com/themes/prakashan/
Author: ReduxThemes.com
Author URI: http://reduxthemes.com
Description: A simple, elegant and distraction-free WP theme for writers/bloggers who want to highlight their content without any clutter. It has just one column, without any sidebar. The typography has been chosen to keep readers focused on your articles & blog posts.
Version: 1.0.6
Requires at least: WordPress 4.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: prakashan
Tags: one-column, custom-background, custom-colors, custom-header, custom-menu, featured-images, footer-widgets, theme-options, blog

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Prakashan is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/* === Fonts === */
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400,700);

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	max-width: 100%;
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em auto;
	max-width: 100%;
	height: auto;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #212121;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.85;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0;
	padding: 0.5em 1em 0.5em 1.5em;
	background: #f9f9f9;
	border-left: 5px solid #222;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Structure & Widths
--------------------------------------------------------------*/

.site-branding,
.main-navigation,
.site-footer {
	width: 100%;
	padding-left: 10%;
	float: left;
}

.site-branding,
.site-content {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto 0 10%;
}

.site-branding {
	margin:30px auto 20px 10%;
	padding-left: 0;
	float: left;
}

.site-header-image {
	width: 100%;
	float: left;
	overflow: hidden;
	line-height: 1;
	padding: 0;
	margin: 0 0 -3px;
}

.site-header-image img{
	width: 100%;
	height: auto;
}

.site-main{
	width: 100%;
}

.site-main .entry-header{
	max-width: 100%;
}

.site-main .entry-content,
.comments-area,
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	width: 100%;
	max-width: 720px;
}

.site-footer {
	background: rgba(0,0,0,0.1);
	border-top: 2px solid #222;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-top: 50px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #333;
  text-decoration: none;
}
a:visited {
  color: #333;
}
a:hover, a:focus, a:active {
  color: #2574a9;
  webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

.entry-header a,
.entry-footer a,
.comment-content a,
.comment-respond a,
.site-footer a {
  position: relative;
  display: inline;
  outline: none;
  text-decoration: none;
  padding: 0 0 1px;
}

.entry-header a {
  padding: 0 0 5px;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #2574a9;
  display: block;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 10px 20px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}


/*--------------------------------------------------------------
## Titles
--------------------------------------------------------------*/
.site-title {
	font-size: 32px;
	font-size: 2em;
	font-weight: bold;
	line-height: 1;
	vertical-align: bottom;
	text-transform: uppercase;
	margin: 0 0;
}

.site-title a,
.site-title a:link,
.site-title a:hover,
.site-title a:visited {
	color: #222;
}

.site-description {
	font-size: 12px;
	font-size: 0.75em;
	font-weight: normal;
	line-height: 1;
	vertical-align: bottom;
	text-transform: uppercase;
	margin: 0 0 20px;
}



.entry-title {
	font-size: 48px;
	font-size: 3rem;
	line-height: 1.15;
	font-weight: 400;
}

.single .entry-title {
	font-size: 52px;
	font-size: 3.25rem;
}

.entry-title a {
	text-decoration: none;
	color: #212121;
}

.single .entry-title a {
	text-decoration: none;
	color: #000;
}

.entry-title a:hover,
.single .entry-title a:hover {
	color: #2574a9;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background: rgba(0,0,0,0.05);
	padding-top: 3px;
	padding-bottom: 3px;
	border-top: 1px solid #222;
	border-bottom: 3px solid #222;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: none;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	padding: 7px 14px;
}

.main-navigation a:hover{
	color: #000;
	background: transparent;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 280px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

.main-navigation li ul.sub-menu {
	width: auto;
	position: absolute;
	top: 100%;
	display: none;
	background: #222;
}

/* Third Level */
.main-navigation li ul.sub-menu li ul.sub-menu {
	top: 0;
	left: 100%;
}

.main-navigation li ul.sub-menu li ul.sub-menu li {
	float: left;
}

.main-navigation li ul.sub-menu li {
	width: auto;
	float: none;
	display: block;
	position: relative;
}

.main-navigation li ul.sub-menu li a {
	width: auto;
	min-width: 12em;
	margin-bottom: -1px;
	padding: 7px 25px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	white-space: nowrap;
	float: none;
	display: block;
	color: #fff;
}

.main-navigation li ul.sub-menu li a:hover {
	background: rgba(255,255,255, .5);
}

.main-navigation li ul.sub-menu li:last-child a {
	margin-bottom: 0;
	border-bottom: none;
}

.main-navigation li:hover > ul.sub-menu {
	display: block;
	z-index: 2;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle,
.menu-toggle:hover, .menu-toggle:focus {
	background: transparent;
	border: 0;
	box-shadow: none;
}


.action-text {
  font-size: 1.115em;
}
.action-text:before {
  content: "\f419";
  display: inline-block;
  font-size: 16px;
  text-align: center;
  font-family: "Genericons";
  font-style: normal;
  font-weight: 700;
  font-variant: normal;
  line-height: 1;
  margin: 0 10px 0 0;
  text-decoration: inherit;
  text-transform: none;
  -moz-transition: color .1s ease-in 0;
  -webkit-transition: color .1s ease-in 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
  vertical-align: top;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	border-top: 3px solid #222;
	padding: 1.5em 0;
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	text-align: right;
	width: 45%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: left;
	width: 45%;
}

.site-main .comment-navigation span,
.site-main .posts-navigation span,
.site-main .post-navigation span {
	display: block;
	text-transform: uppercase;
	font-size:12px;
	font-size:0.75rem;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	font-size: 16px;
	font-size: 1rem;
	margin: 1.5em 0 0;
}

.page-content p,
.entry-content p {
	margin-bottom: 2rem;
}

.entry-meta {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	line-height: 1;
	color: #555;
}

.entry-header figure,
.entry-header figure img{
	width: 100%;
	max-width: 100%;
	margin: 0 0 0;
}

.single .entry-header figure.entry-thumbnail {
	width: 110%;
	max-width: 110%;
	margin: 0 0 0 -5%;
}

.entry-header figure img,
.single .entry-header figure.entry-thumbnail img {
	background-color: rgba(0,0,0,0.1);
	padding: 5px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.cat-links,
.tags-links,
.comments-link,
.edit-link {
	font-size: 14px;
	font-size: 0.875em;
	display: inline-block;
	margin-right: 16px;
}

.more-link, 
.entry-content a.more-link {
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	background: #222;
	border: 1px solid #000;
	padding: 3px 16px;
	display: inline-block;
	clear: both;
	line-height: 1;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Media */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

embed,
iframe,
object {
  max-width: 100%;
}

.custom-logo-link {
  display: inline-block;
}

.avatar {
  border-radius: 100%;
  display: block;
  height: calc(2.25 * 1rem);
  min-height: inherit;
  width: calc(2.25 * 1rem);
}

svg {
  transition: fill 120ms ease-in-out;
  fill: currentColor;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: calc(1.5 * 1rem);
}

@media only screen and (min-width: 768px) {
  .wp-caption.aligncenter {
    position: relative;
    left: calc( calc(8 * (100vw / 12) - 28px) / 2);
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 1168px) {
  .wp-caption.aligncenter {
    left: calc( calc(6 * (100vw / 12) - 28px) / 2);
  }
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption-text {
  color: #767676;
  font-size: 0.71111em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: calc(1.5 * 1rem);
}

.gallery-item {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: calc((100% - 16px * 1) / 2);
}

.gallery-columns-2 .gallery-item:nth-of-type(2n+2) {
  margin-right: 0;
}

.gallery-columns-3 .gallery-item {
  max-width: calc((100% - 16px * 2) / 3);
}

.gallery-columns-3 .gallery-item:nth-of-type(3n+3) {
  margin-right: 0;
}

.gallery-columns-4 .gallery-item {
  max-width: calc((100% - 16px * 3) / 4);
}

.gallery-columns-4 .gallery-item:nth-of-type(4n+4) {
  margin-right: 0;
}

.gallery-columns-5 .gallery-item {
  max-width: calc((100% - 16px * 4) / 5);
}

.gallery-columns-5 .gallery-item:nth-of-type(5n+5) {
  margin-right: 0;
}

.gallery-columns-6 .gallery-item {
  max-width: calc((100% - 16px * 5) / 6);
}

.gallery-columns-6 .gallery-item:nth-of-type(6n+6) {
  margin-right: 0;
}

.gallery-columns-7 .gallery-item {
  max-width: calc((100% - 16px * 6) / 7);
}

.gallery-columns-7 .gallery-item:nth-of-type(7n+7) {
  margin-right: 0;
}

.gallery-columns-8 .gallery-item {
  max-width: calc((100% - 16px * 7) / 8);
}

.gallery-columns-8 .gallery-item:nth-of-type(8n+8) {
  margin-right: 0;
}

.gallery-columns-9 .gallery-item {
  max-width: calc((100% - 16px * 8) / 9);
}

.gallery-columns-9 .gallery-item:nth-of-type(9n+9) {
  margin-right: 0;
}

.gallery-item:last-of-type {
  padding-right: 0;
}

.gallery-caption {
  display: block;
  font-size: 0.71111em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
}

.gallery-item > div > a {
  display: block;
  line-height: 0;
  box-shadow: 0 0 0 0 transparent;
}

.gallery-item > div > a:focus {
  box-shadow: 0 0 0 2px #0073aa;
}

/*--------------------------------------------------------------
# WP Block Gallery
--------------------------------------------------------------*/

.wp-block-gallery .blocks-gallery-image figcaption, 
.wp-block-gallery .blocks-gallery-item figcaption {
	line-height: 1.1;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	height: 16px;
	padding: 1px 3px;
	bottom: 0;
}

.wp-block-gallery .blocks-gallery-image:hover figcaption, .wp-block-gallery .blocks-gallery-item:hover figcaption {
	line-height: 1.1;
	display: inline-block;
	overflow: auto;
	position: absolute;
	height: auto;
	padding: 10px 0;
	bottom: 0;
}

.wp-block-gallery.columns-5 .blocks-gallery-image figcaption, 
.wp-block-gallery.columns-5 .blocks-gallery-item figcaption,
.wp-block-gallery.columns-6 .blocks-gallery-image figcaption, 
.wp-block-gallery.columns-6 .blocks-gallery-item figcaption,
.wp-block-gallery.columns-7 .blocks-gallery-image figcaption, 
.wp-block-gallery.columns-7 .blocks-gallery-item figcaption,
.wp-block-gallery.columns-8 .blocks-gallery-image figcaption, 
.wp-block-gallery.columns-8 .blocks-gallery-item figcaption {
	display: none;
	height: 0;
}

/**
 * 11.4 - Comments
 */

.comments-area {
}

.comments-area input,
.comments-area textarea {
	width: 100%;
}


.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
	padding-top: 1.75em;
}

.comments-title,
.comment-reply-title {
	font-size: 32px;
	font-size: 2rem;	
	border-top: 3px solid #222;
	margin-bottom: 16px;
}

.comments-title {
	margin-bottom: 1.217391304em;
}

.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid #222;
	padding: 1.75em 0;
}

.comment-list .children {
	list-style: none;
	margin: 0;
}

.comment-list .children > li {
	padding-left: 0.875em;
}

.comment-author {
	color: #1a1a1a;
	margin-bottom: 0.4375em;
}

.comment-author .avatar {
	float: left;
	height: 28px;
	margin-right: 0.875em;
	position: relative;
	width: 28px;
	border-radius: 14px;
}

.bypostauthor > article .fn:after {
	content: "\f304";
	left: 3px;
	position: relative;
	top: 5px;
}

.comment-metadata,
.pingback .edit-link {
	color: #686868;
	font-family: Merriweather, serif;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
}

.comment-metadata {
	margin-bottom: 2.1538461538em;
}

.comment-metadata a,
.pingback .comment-edit-link {
	color: #686868;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .comment-edit-link:hover,
.pingback .comment-edit-link:focus {
	color: #007acc;
}

.comment-metadata .edit-link,
.pingback .edit-link {
	display: inline-block;
}

.comment-metadata .edit-link:before,
.pingback .edit-link:before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 1.5em 1.25em;
}

.comment-content li > ul,
.comment-content li > ol {
	margin-bottom: 0;
}

.comment-reply-link {
	border: 1px solid #222;
	border-radius: 2px;
	display: inline-block;
	line-height: 1;
	margin-top: 2.1538461538em;
	padding: 0.5384615385em 0.5384615385em 0.4615384615em;
}

.comment-reply-link:hover,
.comment-reply-link:focus {
	outline: 0;
}

.comment-form {
	padding-top: 0;
}

.comment-form label {
	display: block;
	font-size: 14px;
	font-size: 0.875em;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.comment-list .comment-form {
	padding-bottom: 0.75em;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1;
	margin-bottom: em;
}

.no-comments {
	margin: 0;
	padding-top: 1.75em;
}

.comment-navigation + .no-comments {
	border-top: 0;
	padding-top: 0;
}

.form-allowed-tags code {
	font-family: Inconsolata, monospace;
}

.form-submit {
	margin-bottom: 0;
}

.required {
}

.comment-reply-title small {
	font-size: 100%;
}

.comment-reply-title small a {
	border: 0;
	float: right;
	height: 32px;
	overflow: hidden;
	width: 26px;
}

.comment-reply-title small a:hover,
.comment-reply-title small a:focus {
}

.comment-reply-title small a:before {
	content: "\f405";
	font-size: 32px;
	position: relative;
	top: -5px;
}

.form-submit input[type="submit"] {
	font-size: 16px;
	font-size: 1rem;
	
}

@media screen and (max-width: 37.5em) {
	.entry-title {
		font-size: 32px;	
		font-size: 2rem;	
	}
	
	.single .entry-title {
		font-size: 32px;	
		font-size: 2rem;	
	}
}
	
@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	
	.main-navigation ul {
		display: block;
	}
	
	.main-navigation li {
		float: left;
		position: relative;
	}

	.page-content,
	.entry-content,
	.entry-summary {
		font-size: 20px;
		font-size: 1.25rem;
	}
	
	.page-content p,
	.entry-content p {
		margin-bottom: 2rem;
	}
	
}